//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// admin module
// Class styles for global admin styles.
//
// Content:
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// CONTAINER STYLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__admin {
    .qld__admin_side-nav {
        @include QLD-space(padding-top, 2unit);
        background: var(--QLD-color-dark-alt-background__shade);
        a {
            color:var(--QLD-color-dark-text);
        }
    }

    .qld__admin_action_header {
        @include QLD-media(md) {
            display:flex;
            justify-content:space-between;
            align-items: center;

            .qld__btn {
                display:block;
            }
        }
    }

    .dataTables_wrapper .dataTables_length select {
        padding-right: 30px;
        background-size: 10px;
        background-position: right 10px center;
    }
    
    .qld__table .qld__table__cell.qld__admin_row-actions, table .qld__table__cell.qld__admin_row-actions {
        text-align: right;
        .qld__btn {
            margin: 3px 0;
            font-size:0.8em;
            height: 26px;
            width: 26px;
            padding: 0;
            margin-left: auto;
            position: relative;
            min-width: initial;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .qld__btn--error {
            background-color:$QLD-color-error;
            border-color:$QLD-color-error;
            color:var(--QLD-color-dark-text);
        }
    }
}

.qld__grid .row.qld__admin_row {
    margin-left:0;
    margin-right:0;
}

.qld__service_finder_admin_form {
    textarea {
        min-width:50%;
        display: block !important;
        position: absolute;
        opacity: 0;
    }
}
