// Screen Hidden Content
.visuallyhidden {
    @extend %screen-hide;
}

// When screen hidden content is focused restore it to view
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    @extend %screen-show;
}

// Bootstrap friendly class
.sr-only {
    @extend .visuallyhidden;
}

// Clear fix class for containers of floated elements
.clearfix {
    @extend %clearfix;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}

// Float classes
.pull-left {
    float: left;
}
img.pull-left {
    margin-right: 1em;
}

.pull-right {
    float: right;
}
img.pull-right {
    margin-left: 1em;
}

// 16:9 Ratio container for embedded video
// This container is suitable for something like youtube videos
.video-container {
    position: relative;
    padding-bottom: 56.25%; // Video area
    padding-top: 30px; // 30px controls container
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hide_content {
    display: none;
}

.text-error {
    color: $QLD-color-status__error;
}

.text-success {
    color: $QLD-color-status__success;
}

.text-warning {
    color: $QLD-color-status__caution;
}

.text-info {
    color: $QLD-color-status__info;
}

.text-center {
    text-align: center;
}

.order-first {
    order: -1;
}

.capitalize {
    text-transform: capitalize;
}

.capitalised:first-letter {
    text-transform: uppercase; 
}

.breakout {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

*.qld__max-width,
.qld__max-width,
h1.qld__max-width,
h2.qld__max-width,
h3.qld__max-width,
h4.qld__max-width,
h5.qld__max-width,
h6.qld__max-width,
p.qld__max-width,
ul.qld__max-width,
ol.qld__max-width,
li.qld__max-width,
figure.qld__max-width,
span.qld__max-width,
div.qld__max-width,
a.qld__max-width {
    .qld__grid &,
    .qld__body &,
    .qld__footer &,
    [class^="qld__display"] & {
        max-width: 100%;
    }
}

.mt-0 {
    @include QLD-space ( margin-top, 0 );
}

.mt-1 {
    @include QLD-space ( margin-top, 1unit );
}

.mt-2 {
    @include QLD-space ( margin-top, 2unit );
}

.mt-3 {
    @include QLD-space ( margin-top, 3unit );
}

.mb-0 {
    @include QLD-space ( margin-bottom, 0 );
}

.mb-1 {
    @include QLD-space ( margin-bottom, 1unit );
}

.mb-2 {
    @include QLD-space ( margin-bottom, 2unit );
}

.mb-3 {
    @include QLD-space ( margin-bottom, 3unit );
}

.mx-0 {
    @include QLD-space ( margin-left, 0 ); 
    @include QLD-space ( margin-right, 0 );
}

.mx-1 {
    @include QLD-space ( margin-left, 1unit ); 
    @include QLD-space ( margin-right, 1unit );
}

.mx-2 {
    @include QLD-space ( margin-left, 2unit ); 
    @include QLD-space ( margin-right, 2unit );
}

.mx-3 {
    @include QLD-space ( margin-left, 3unit ); 
    @include QLD-space ( margin-right, 3unit );
}

.my-0 {
    @include QLD-space ( margin-top, 0 ); 
    @include QLD-space ( margin-bottom, 0 );
}

.my-1 {
    @include QLD-space ( margin-top, 1unit ); 
    @include QLD-space ( margin-bottom, 1unit );
}

.my-2 {
    @include QLD-space ( margin-top, 2unit ); 
    @include QLD-space ( margin-bottom, 2unit );
}

.my-3 {
    @include QLD-space ( margin-top, 3unit ); 
    @include QLD-space ( margin-bottom, 3unit );
}

