//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

@import "figma.scss";
/**
 * QLD-pixelfallback enable pixel fallbacks
 */
$QLD-pixelfallback: true !default;

/**
  * QLD-media Breakpoints
  */
$QLD-media-sm: 400px;
$QLD-media-md: 699px;
$QLD-media-lg: 992px;
$QLD-media-xl: 1312px;
$QLD-media-xxl: 1599px;
$QLD-main-nav-breakpoint: lg;

/**
  * QLD-rem value used for REM calculation
  */
$QLD-rem: 16 !default;

/**
  * QLD-unit used for all type and grid calculations
  */
$QLD-unit: 4 !default;

/**
  * QLD-fonts stack
  * QLD-font-monospace stack
  */
$QLD-font: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$QLD-font-sitename: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$QLD-font-display: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$QLD-font-monospace: "Roboto Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

/**
  * QLD-fontsize-map
  *
  * Predetermined pixel sizes from a 1.25 typescale rounded to the nearest $QLD-unit (vertical grid)
  */
$QLD-fontsize-map: (
    xs: 14,
    sm: 16,
    md: 20,
    lg: 24,
    xl: 32,
    xxl: 48,
    xxxl: 52,
) !default;

// Base font
$base-font-scale: 1; // The font scale multiplier (e.g. 2 = 32px/2em/2rem)
$base-font-pixel: 16; // Used for font size calculations & conversions

/**
  * QLD-maxwidth for line lengths (the ‘measure’)
  */
$QLD-font-maxwidth: 80ch; // Answer to life, the universe, and everything (keeps things readable on wide viewports).

/**
  * QLD typography sizes
  *
  */
$QLD-font-size-desktop-xs: 0.875rem;
$QLD-font-size-desktop-sm: 1rem;
$QLD-font-size-desktop-md: 1.25rem;
$QLD-font-size-desktop-lg: 1.5rem;
$QLD-font-size-desktop-xl: 2rem;
$QLD-font-size-desktop-xxl: 2.5rem;
$QLD-font-size-desktop-xxxl: 3rem;

$QLD-font-size-mobile-xs: 0.875rem;
$QLD-font-size-mobile-sm: 1rem;
$QLD-font-size-mobile-md: 1.25rem;
$QLD-font-size-mobile-lg: 1.5rem;
$QLD-font-size-mobile-xl: 1.75rem;
$QLD-font-size-mobile-xxl: 2rem;
$QLD-font-size-mobile-xxxl: 2.5rem;

/**
  * QLD-lineheight-map
  * 
  * Predetermined lineheight mapped to keyword
  */

$QLD-lineheight-map: (
    nospace: 1,
    heading: 1.25,
    default: 1.5,
    h3: calc(4 / 3),
    h4: 1.2,
    h6: calc(8 / 7),
    small: 1.4,
);

/**
  * QLD-spacing-map
  *
  * Predetermined standard spacing mapped to keyword
  */
$QLD-space-map: (
    0: 0,
    1: 4,
    2: 8,
    3: 12,
    4: 16,
    5: 20,
    6: 24,
    7: 32,
    8: 36,
    9: 40,
    10: 48,
    11: 56,
    12: 64,
    13: 80,
    14: 96,
    15: 128,
    16: 160,
) !default;

/* Gutters - Space between cols in the grid  */
$QLD-grid__gutter--media-sm: 4;
$QLD-grid__gutter--media-md: 6;
$QLD-grid__gutter--media-lg: 7;
$QLD-grid__gutter--media-xl: 7;

/** 
Gutter - space between columns in the grid for vertical navigation
*/
$QLD-grid__gutter--media-portal-lg: 6;
$QLD-grid__gutter--media-portal-xl: 7;

/* Outer page margins (defined by padding on the container-fluid class)  */
$QLD-grid__inner-padding--media-xs: 4;
$QLD-grid__inner-padding--media-sm: 4;
$QLD-grid__inner-padding--media-md: 7;
$QLD-grid__inner-padding--media-lg: 7;
$QLD-grid__inner-padding--media-xl: 7;

/* Outer page margins (defined by padding on the container-fluid class) for vertical navigation   */
$QLD-grid__inner-padding--media-portal-lg: calc(48px + (100vw - 992px) * (128 - 48) / (1312 - 992));
$QLD-grid__inner-padding--media-portal-xl: calc(72px + (100vw - 1312px) * (128 - 72) / (1600 - 1312));

/* Max-width of content area   */
$QLD-grid__maxwidth: 86rem;

/*** Padding values for sections - ony veritcal spacing value that does not use margin top*/
$QLD-padding__section--mobile: 9;
$QLD-padding__section--desktop: 12;

/* Spacing between <section> containers */
$QLD-margin__section--desktop: 12;
$QLD-margin__section--mobile: 9;

/* Spacing beteen content containers, ie div within a <section> */
$QLD-margin__content-block--desktop: 10;
$QLD-margin__content-block--mobile: 7;

/* Spacing beteen components,like cards, buttons */
$QLD-margin__component--desktop: 7;
$QLD-margin__component--mobile: 6;

/* Heading, text and paragraph spacing   */

/* Space above an H1 */
$QLD-margin__h1--desktop: 11;
$QLD-margin__h1--mobile: 7;

/* Space above an H2 */
$QLD-margin__h2--desktop: 10;
$QLD-margin__h2--mobile: 7;

/* Space above an H3 */
$QLD-margin__h3--desktop: 8;
$QLD-margin__h3--mobile: 7;

/* Space above an H4-h6 */
$QLD-margin__h4-h6--desktop: 7;
$QLD-margin__h4-h6--mobile: 5;

/* Space between different and text elements (ul,li,p,a,dl) example (h1 + p) */
$QLD-margin__text-element--desktop: 6;
$QLD-margin__text-element--mobile: 5;

/* Spacing between two paragraphs (p + p)  */
$QLD-margin__p--desktop: 4;
$QLD-margin__p--mobile: 4;

/* Close spacing between list items */
$QLD-margin__li-close--desktop: 2;
$QLD-margin__li-close--mobile: 2;

/* Wide spacing between list items */
$QLD-margin__li-wide--desktop: 3;
$QLD-margin__li-wide--mobile: 3;

/* Space above/between lables, form hint messages and form error messages */
$QLD-margin__lables--desktop: 2;
$QLD-margin__lables--mobile: 2;

/**
* QLD border-width values
*/
$QLD-border-width-thin: 1px;
$QLD-border-width-default: 2px;
$QLD-border-width-medium: 3px;
$QLD-border-width-thick: 4px;
$QLD-border-width-extra-thick: 8px;

/**
* QLD border-radius values
*/
$QLD-border-radius-xs: map-get($QLD-space-map, 1) + px;
$QLD-border-radius-sm: map-get($QLD-space-map, 3) + px;
$QLD-border-radius-md: map-get($QLD-space-map, 4) + px;
$QLD-border-radius-lg: map-get($QLD-space-map, 7) + px;
$QLD-border-radius-xl: map-get($QLD-space-map, 9) + px;
$QLD-border-radius-xxl: map-get($QLD-space-map, 12) + px;

/**
* QLD underline-thickness values
*/
$QLD-underline__thickness-thin: 0.5px;
$QLD-underline__thickness-thick: 2px;

/**
* QLD underline-offset value
*/
$QLD-underline__offset: 0.3em;

/**
* QLD box shadow values
*/
$QLD-box-shaddow-level-one: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
$QLD-box-shaddow-level-two: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
$QLD-box-shaddow-level-three: 0px 4px 8px 3px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
$QLD-box-shaddow-level-four: 7px 6px 13px rgba(0, 0, 0, 0.02), 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 13px 20px rgba(0, 0, 0, 0.1);

/***
QLD Fixed widths
*/

$QLD-fixed-width__char-2: 4.0625rem;
$QLD-fixed-width__char-3: 5.125rem;
$QLD-fixed-width__char-4: 6.125rem;
$QLD-fixed-width__char-5: 7.125rem;
$QLD-fixed-width__char-10: 12.1875rem;
$QLD-fixed-width__char-20: 22.375rem;

/*  
QLD form input DTA defaults 
*/

$QLD-form-input__width-xs: 4.3rem;
$QLD-form-input__width-sm: 6.3rem;
$QLD-form-input__width-md: 10rem;
$QLD-form-input__width-lg: 18rem;
$QLD-form-input__width-xl: 24rem;

/*  QLD 
Fluid Widths 
*/
$QLD-fluid-width__full: 100%;
$QLD-fluid-width__3-quarters: 75%;
$QLD-fluid-width__half: 48.5%;
$QLD-fluid-width__1-quarter: 25%;

/**
* QLD icon sizes
*/
$QLD-icon-size__xs: 1rem;
$QLD-icon-size__sm: 1.25rem;
$QLD-icon-size__md: 1.5rem;
$QLD-icon-size__lg: 2rem;
$QLD-icon-size__xl: 3rem;
$QLD-icon-size__xxl: 4rem;
$QLD-icon-size__feature: 8rem;
$QLD-font-size__feature: 4rem;
$QLD-font-size__feature-lg: 8rem;

/**
* QLD default icons
*/
$QLD-icon-arrow-up: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M379.8 225.7C376.7 229.3 372.3 231.1 368 231.1c-3.844 0-7.703-1.426-10.77-4.31L208 86.12v377.3c0 9.171-7.156 16.59-15.1 16.59S176 472.6 176 463.4V86.12l-149.2 140.7C20.25 232.1 10.14 232.5 4.156 225.7C-1.781 218.9-1.297 208.4 5.234 202.2l176-165.9c6.094-5.768 15.44-5.768 21.53 0l176 165.9C385.3 208.4 385.8 218.9 379.8 225.7z"/></svg>';
$QLD-icon-arrow-right: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M443.7 266.8l-165.9 176C274.5 446.3 269.1 448 265.5 448c-3.986 0-7.988-1.375-11.16-4.156c-6.773-5.938-7.275-16.06-1.118-22.59L393.9 272H16.59c-9.171 0-16.59-7.155-16.59-15.1S7.421 240 16.59 240h377.3l-140.7-149.3c-6.157-6.531-5.655-16.66 1.118-22.59c6.789-5.906 17.27-5.469 23.45 1.094l165.9 176C449.4 251.3 449.4 260.7 443.7 266.8z"/></svg>';
$QLD-icon-arrow-down: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M378.8 309.8l-176 165.9C199.7 478.6 195.9 480 192 480s-7.719-1.426-10.77-4.31l-176-165.9C-1.297 303.6-1.781 293.1 4.156 286.3c5.953-6.838 16.09-7.259 22.61-1.134L176 425.9V48.59c0-9.171 7.156-16.59 15.1-16.59S208 39.42 208 48.59v377.3l149.2-140.7c6.516-6.125 16.66-5.704 22.61 1.134C385.8 293.1 385.3 303.6 378.8 309.8z"/></svg>';
$QLD-icon-arrow-left: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M448 256C448 264.8 440.6 272 431.4 272H54.11l140.7 149.3c6.157 6.531 5.655 16.66-1.118 22.59C190.5 446.6 186.5 448 182.5 448c-4.505 0-9.009-1.75-12.28-5.25l-165.9-176c-5.752-6.094-5.752-15.41 0-21.5l165.9-176c6.19-6.562 16.69-7 23.45-1.094c6.773 5.938 7.275 16.06 1.118 22.59L54.11 240h377.3C440.6 240 448 247.2 448 256z"/></svg>';

$QLD-icon-arrow-view-all: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M283.3 148.7c-6.25-6.25-16.38-6.25-22.62 0s-6.25 16.38 0 22.62L329.4 240H144C135.2 240 128 247.2 128 256s7.156 16 16 16h185.4l-68.69 68.69c-6.25 6.25-6.25 16.38 0 22.62s16.38 6.25 22.62 0l96-96C382.4 264.2 384 260.1 384 256s-1.562-8.188-4.688-11.31L283.3 148.7zM256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 480c-123.5 0-224-100.5-224-224s100.5-224 224-224s224 100.5 224 224S379.5 480 256 480z"/></svg>';

$QLD-icon-chevron-up: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M443.8 330.8C440.6 334.3 436.3 336 432 336c-3.891 0-7.781-1.406-10.86-4.25L224 149.8l-197.1 181.1c-6.5 6-16.64 5.625-22.61-.9062c-6-6.5-5.594-16.59 .8906-22.59l208-192c6.156-5.688 15.56-5.688 21.72 0l208 192C449.3 314.3 449.8 324.3 443.8 330.8z"/></svg>';
$QLD-icon-chevron-right: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M85.14 475.8c-3.438-3.141-5.156-7.438-5.156-11.75c0-3.891 1.406-7.781 4.25-10.86l181.1-197.1L84.23 58.86c-6-6.5-5.625-16.64 .9062-22.61c6.5-6 16.59-5.594 22.59 .8906l192 208c5.688 6.156 5.688 15.56 0 21.72l-192 208C101.7 481.3 91.64 481.8 85.14 475.8z"/></svg>';
$QLD-icon-chevron-down: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M4.251 181.1C7.392 177.7 11.69 175.1 16 175.1c3.891 0 7.781 1.406 10.86 4.25l197.1 181.1l197.1-181.1c6.5-6 16.64-5.625 22.61 .9062c6 6.5 5.594 16.59-.8906 22.59l-208 192c-6.156 5.688-15.56 5.688-21.72 0l-208-192C-1.343 197.7-1.749 187.6 4.251 181.1z"/></svg>';
$QLD-icon-chevron-left: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M234.8 36.25c3.438 3.141 5.156 7.438 5.156 11.75c0 3.891-1.406 7.781-4.25 10.86L53.77 256l181.1 197.1c6 6.5 5.625 16.64-.9062 22.61c-6.5 6-16.59 5.594-22.59-.8906l-192-208c-5.688-6.156-5.688-15.56 0-21.72l192-208C218.2 30.66 228.3 30.25 234.8 36.25z"/></svg>';

$QLD-icon-close: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M180.7 180.7C186.9 174.4 197.1 174.4 203.3 180.7L256 233.4L308.7 180.7C314.9 174.4 325.1 174.4 331.3 180.7C337.6 186.9 337.6 197.1 331.3 203.3L278.6 256L331.3 308.7C337.6 314.9 337.6 325.1 331.3 331.3C325.1 337.6 314.9 337.6 308.7 331.3L256 278.6L203.3 331.3C197.1 337.6 186.9 337.6 180.7 331.3C174.4 325.1 174.4 314.9 180.7 308.7L233.4 256L180.7 203.3C174.4 197.1 174.4 186.9 180.7 180.7zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 32C132.3 32 32 132.3 32 256C32 379.7 132.3 480 256 480C379.7 480 480 379.7 480 256C480 132.3 379.7 32 256 32z"/></svg>';
$QLD-icon-close-hover: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM175 208.1L222.1 255.1L175 303C165.7 312.4 165.7 327.6 175 336.1C184.4 346.3 199.6 346.3 208.1 336.1L255.1 289.9L303 336.1C312.4 346.3 327.6 346.3 336.1 336.1C346.3 327.6 346.3 312.4 336.1 303L289.9 255.1L336.1 208.1C346.3 199.6 346.3 184.4 336.1 175C327.6 165.7 312.4 165.7 303 175L255.1 222.1L208.1 175C199.6 165.7 184.4 165.7 175 175C165.7 184.4 165.7 199.6 175 208.1V208.1z"/></svg>';

$QLD-icon-error: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 480c-123.5 0-224-100.5-224-224s100.5-224 224-224s224 100.5 224 224S379.5 480 256 480zM362.4 131.8c-6.688-5.75-16.8-4.938-22.55 1.75L256 231.4l-83.86-97.84C166.4 126.9 156.3 126.2 149.6 131.8c-6.719 5.75-7.5 15.88-1.734 22.56L234.9 256l-87.08 101.6c-5.766 6.688-4.984 16.81 1.734 22.56C152.6 382.8 156.3 384 160 384c4.5 0 8.984-1.906 12.14-5.594L256 280.6l83.86 97.84C343 382.1 347.5 384 352 384c3.688 0 7.391-1.281 10.41-3.844c6.719-5.75 7.5-15.88 1.734-22.56L277.1 256l87.08-101.6C369.9 147.7 369.1 137.6 362.4 131.8z"/></svg>';
$QLD-icon-success: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M235.3 331.3C229.1 337.6 218.9 337.6 212.7 331.3L148.7 267.3C142.4 261.1 142.4 250.9 148.7 244.7C154.9 238.4 165.1 238.4 171.3 244.7L224 297.4L340.7 180.7C346.9 174.4 357.1 174.4 363.3 180.7C369.6 186.9 369.6 197.1 363.3 203.3L235.3 331.3zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 32C132.3 32 32 132.3 32 256C32 379.7 132.3 480 256 480C379.7 480 480 379.7 480 256C480 132.3 379.7 32 256 32z"/></svg>';
$QLD-icon-warning: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 360c-13.25 0-23.1 10.74-23.1 24c0 13.25 10.75 24 23.1 24c13.25 0 23.1-10.75 23.1-24C280 370.7 269.3 360 256 360zM256 320c8.843 0 15.1-7.156 15.1-16V160c0-8.844-7.155-16-15.1-16S240 151.2 240 160v144C240 312.8 247.2 320 256 320zM504.3 397.3L304.5 59.38C294.4 42.27 276.2 32.03 256 32C235.8 32 217.7 42.22 207.5 59.36l-199.9 338c-10.05 16.97-10.2 37.34-.4218 54.5C17.29 469.5 35.55 480 56.1 480h399.9c20.51 0 38.75-10.53 48.81-28.17C514.6 434.7 514.4 414.3 504.3 397.3zM476.1 435.1C472.7 443.5 464.8 448 455.1 448H56.1c-8.906 0-16.78-4.484-21.08-12c-4.078-7.156-4.015-15.3 .1562-22.36L235.1 75.66C239.4 68.36 247.2 64 256 64c0 0-.0156 0 0 0c8.765 .0156 16.56 4.359 20.86 11.64l199.9 338C480.1 420.7 481.1 428.8 476.1 435.1z"/></svg>';
$QLD-icon-info: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 184c13.25 0 24-10.74 24-24c0-13.25-10.75-24-24-24S200 146.7 200 160C200 173.3 210.7 184 224 184zM384 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h320c35.35 0 64-28.65 64-64V96C448 60.65 419.3 32 384 32zM416 416c0 17.64-14.36 32-32 32H64c-17.64 0-32-14.36-32-32V96c0-17.64 14.36-32 32-32h320c17.64 0 32 14.36 32 32V416zM272 352h-32V240C240 231.2 232.8 224 224 224H192C183.2 224 176 231.2 176 240S183.2 256 192 256h16v96h-32C167.2 352 160 359.2 160 368C160 376.8 167.2 384 176 384h96c8.836 0 16-7.164 16-16C288 359.2 280.8 352 272 352z"/></svg>';
$QLD-icon-search: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M507.3 484.7l-141.5-141.5C397 306.8 415.1 259.7 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c51.68 0 98.85-18.96 135.2-50.15l141.5 141.5C487.8 510.4 491.9 512 496 512s8.188-1.562 11.31-4.688C513.6 501.1 513.6 490.9 507.3 484.7zM208 384C110.1 384 32 305 32 208S110.1 32 208 32S384 110.1 384 208S305 384 208 384z"/></svg>';

/**
  *  QLD-color-neutral  colours
  */
$QLD-color-neutral--black: #131212;
$QLD-color-neutral--darkest: #222020;
$QLD-color-neutral--darker: #444444;
$QLD-color-neutral--dark: #78797e;
$QLD-color-neutral--light: #e0e0e0;
$QLD-color-neutral--lighter: #ebebeb;
$QLD-color-neutral--lightest: #f5f5f5;
$QLD-color-neutral--white: #ffffff;

/**
 QLD-color-neutral  opacity
*/

$QLD-color-neutral--white__opacity-10: rgba(255, 255, 255, 0.1);
$QLD-color-neutral--light__opacity-10: rgba(244, 244, 244, 0.1);
$QLD-color-neutral--darkest__opacity-10: rgba(34, 32, 32, 0.1);
$QLD-color-neutral--black__opacity-10: rgba(19, 18, 18, 0.1);

/**
  * QLD-color- status styles
  */
$QLD-color-status__error: #e22339 !default;
$QLD-color-status__error--lightest: #fff6f6 !default;
$QLD-color-status__error--lighter: #fdf0f0 !default;
$QLD-color-status__error--darker: #8a1220 !default;

$QLD-color-status__success: #339d37 !default;
$QLD-color-status__success--lightest: #f7fbf8 !default;
$QLD-color-status__success--lighter: #f2faf4 !default;
$QLD-color-status__success--darker: #0a690d !default;

$QLD-color-status__caution: #ffcc2c !default;
$QLD-color-status__caution--lightest: #fffaea !default;
$QLD-color-status__caution--lighter: #fff2c9 !default;
$QLD-color-status__caution--darker: #b38800 !default;

$QLD-color-status__info: #0085b3 !default;
$QLD-color-status__info--lighter: #e5eef5 !default;
$QLD-color-status__info--lightest: #eff4f9 !default;
$QLD-color-status__info--darker: #006a8f !default;

/**
  * QLD-color-light styles
  */
$QLD-color-light__site-title: #005eb8 !default;
$QLD-color-light__design-accent: #84d3ff !default;
$QLD-color-light__heading: #000053 !default;
$QLD-color-light__text: #353535 !default;
$QLD-color-light__text--lighter: #636363 !default;
$QLD-color-light__link: #005eb8 !default;
$QLD-color-light__link--visited: #551a8b !default;
$QLD-color-light__link--on-action: #ffffff !default;
$QLD-color-light__action--primary: #005eb8 !default;
$QLD-color-light__action--primary-hover: #003e96 !default;
$QLD-color-light__action--secondary: #307edb !default;
$QLD-color-light__action--secondary-hover: #004ea7 !default;
$QLD-color-light__focus: #002e85 !default;
$QLD-color-light__border: #bedfff !default;
$QLD-color-light__background: #e6f6ff !default;
$QLD-color-light__background--shade: #ceedff !default;

/**
  * QLD-color-light-alt styles
  */

$QLD-color-light__border--alt: #848484 !default;
$QLD-color-light__background--alt: #e3e7ea !default;
$QLD-color-light__background--alt-shade: #d6dce0 !default;

/**
  * QLD-color-dark styles
  */
$QLD-color-dark__site-title: #ffffff !default;
$QLD-color-dark__design-accent: #84d3ff !default;
$QLD-color-dark__heading: #ffffff !default;
$QLD-color-dark__text: #ffffff !default;
$QLD-color-dark__text--lighter: #deebf9 !default;
$QLD-color-dark__link: #ffffff !default;
$QLD-color-dark__link--visited: #e1bbee !default;
$QLD-color-dark__link--on-action: #001c37 !default;
$QLD-color-dark__action--primary: #84d3ff !default;
$QLD-color-dark__action--primary-hover: #a6f7ff !default;
$QLD-color-dark__action--secondary: #84d3ff !default;
$QLD-color-dark__action--secondary-hover: #a6f7ff !default;
$QLD-color-dark__focus: #c6ffff !default;
$QLD-color-dark__border: #418fed !default;
$QLD-color-dark__background: #005eb8 !default;
$QLD-color-dark__background--shade: #003e96 !default;

/**
  * QLD-color-alt-dark styles
  */
$QLD-color-dark__border--alt: #63b1ff !default;
$QLD-color-dark__background--alt: #001d74 !default;
$QLD-color-dark__background--alt-shade: #000764 !default;

/**
  * QLD-border-radius styles
  */
$QLD-border-radius: $QLD-unit + 0px !default;

/**
* QLD underline-color values
*/
$QLD-color-status__light-underline: rgba(255, 255, 255, 0.72) !default;
$QLD-color-light__underline: #3f7ab4 !default;
$QLD-color-light__underline--hover: #{$QLD-color-light__link} !default;
$QLD-color-light__underline--visited: #8b63b0 !default;
$QLD-color-light__underline--hover-visited: #{$QLD-color-light__link--visited} !default;
$QLD-color-status__dark-underline: rgba(3, 33, 63, 0.72) !default;
$QLD-color-dark__underline: #b5cce2 !default;
$QLD-color-dark__underline--hover: #{$QLD-color-dark__link} !default;
$QLD-color-dark__underline--visited: #e1c2ff !default;
$QLD-color-dark__underline--hover-visited: #{$QLD-color-dark__link--visited} !default;

/**
* QLD Line height variables 
*/

$QLD-default-mobile-xs: 14px;
$QLD-default-mobile-sm: 16px;
$QLD-default-mobile-md: 20px;
$QLD-default-mobile-lg: 24px;
$QLD-default-mobile-xl: 28px;
$QLD-default-mobile-xxl: 32px;
$QLD-default-mobile-xxxl: 40px;

$QLD-default-desktop-xs: 14px;
$QLD-default-desktop-sm: 16px;
$QLD-default-desktop-md: 20px;
$QLD-default-desktop-lg: 24px;
$QLD-default-desktop-xl: 32px;
$QLD-default-desktop-xxl: 40px;
$QLD-default-desktop-xxxl: 48px;

$QLD-heading-space-xs: 16px;
$QLD-heading-space-sm: 20px;
$QLD-heading-space-md: 24px;
$QLD-heading-space-lg: 32px;
$QLD-heading-space-xl: 40px;
$QLD-heading-space-xxl: 52px;
$QLD-heading-space-xxxl: 60px;

$QLD-color-contained-layout__background: #eff4f9;

/**
* QLD custom properties (CSS variables) - defaults
*/
:root,
::after,
::before {
    --QLD-color-light__site-title: #{$QLD-color-light__site-title};
    --QLD-color-light__design-accent: #{$QLD-color-light__design-accent};
    --QLD-color-light__heading: #{$QLD-color-light__heading};
    --QLD-color-light__text: #{$QLD-color-light__text};
    --QLD-color-light__text--lighter: #{$QLD-color-light__text--lighter};
    --QLD-color-light__link: #{$QLD-color-light__link};
    --QLD-color-light__link--visited: #{$QLD-color-light__link--visited};
    --QLD-color-light__link--on-action: #{$QLD-color-light__link--on-action};
    --QLD-color-light__action--primary: #{$QLD-color-light__action--primary};
    --QLD-color-light__action--primary-hover: #{$QLD-color-light__action--primary-hover};
    --QLD-color-light__focus: #{$QLD-color-light__focus};
    --QLD-color-light__border: #{$QLD-color-light__border};
    --QLD-color-light__background: #{$QLD-color-light__background};
    --QLD-color-light__background--shade: #{$QLD-color-light__background--shade};
    --QLD-color-status__light-underline: #{$QLD-color-status__light-underline};
    --QLD-color-light__underline: #{$QLD-color-light__underline};
    --QLD-color-light__underline--hover: #{$QLD-color-light__underline--hover};
    --QLD-color-light__underline--visited: #{$QLD-color-light__underline--visited};
    --QLD-color-light__underline--hover-visited: #{$QLD-color-light__underline--hover-visited};
    --QLD-color-light__action--secondary: #{$QLD-color-light__action--secondary};
    --QLD-color-light__action--secondary-hover: #{$QLD-color-light__action--secondary-hover};
    --QLD-color-light__border--alt: #{$QLD-color-light__border--alt};
    --QLD-color-light__background--alt: #{$QLD-color-light__background--alt};
    --QLD-color-light__background--alt-shade: #{$QLD-color-light__background--alt-shade};

    --QLD-color-dark__site-title: #{$QLD-color-dark__site-title};
    --QLD-color-dark__design-accent: #{$QLD-color-dark__design-accent};
    --QLD-color-dark__heading: #{$QLD-color-dark__heading};
    --QLD-color-dark__text: #{$QLD-color-dark__text};
    --QLD-color-dark__text--lighter: #{$QLD-color-dark__text--lighter};
    --QLD-color-dark__link: #{$QLD-color-dark__link};
    --QLD-color-dark__link--visited: #{$QLD-color-dark__link--visited};
    --QLD-color-dark__link--on-action: #{$QLD-color-dark__link--on-action};
    --QLD-color-dark__action--primary: #{$QLD-color-dark__action--primary};
    --QLD-color-dark__action--primary-hover: #{$QLD-color-dark__action--primary-hover};
    --QLD-color-dark__focus: #{$QLD-color-dark__focus};
    --QLD-color-dark__border: #{$QLD-color-dark__border};
    --QLD-color-dark__background: #{$QLD-color-dark__background};
    --QLD-color-dark__background--shade: #{$QLD-color-dark__background--shade};
    --QLD-color-status__dark-underline: #{$QLD-color-status__dark-underline};
    --QLD-color-dark__underline: #{$QLD-color-dark__underline};
    --QLD-color-dark__underline--hover: #{$QLD-color-dark__underline--hover};
    --QLD-color-dark__underline--visited: #{$QLD-color-dark__underline--visited};
    --QLD-color-dark__underline--hover-visited: #{$QLD-color-dark__underline--hover-visited};

    --QLD-color-dark__action--secondary: #{$QLD-color-dark__action--secondary};
    --QLD-color-dark__action--secondary-hover: #{$QLD-color-dark__action--secondary-hover};
    --QLD-color-dark__border--alt: #{$QLD-color-dark__border--alt};
    --QLD-color-dark__background--alt: #{$QLD-color-dark__background--alt};
    --QLD-color-dark__background--alt-shade: #{$QLD-color-dark__background--alt-shade};

    --QLD-underline__thickness-thin: #{$QLD-underline__thickness-thin};
    --QLD-underline__thickness-thick: #{$QLD-underline__thickness-thick};
    --QLD-underline__offset: #{$QLD-underline__offset};

    --QLD-border-radius-xs: #{$QLD-border-radius-xs};
    --QLD-border-radius-sm: #{$QLD-border-radius-sm};
    --QLD-border-radius-md: #{$QLD-border-radius-md};
    --QLD-border-radius-lg: #{$QLD-border-radius-lg};
    --QLD-border-radius-xl: #{$QLD-border-radius-xl};
    --QLD-border-radius-xxl: #{$QLD-border-radius-xxl};

    --QLD-border-width-thin: #{$QLD-border-width-thin};
    --QLD-border-width-default: #{$QLD-border-width-default};
    --QLD-border-width-medium: #{$QLD-border-width-medium};
    --QLD-border-width-thick: #{$QLD-border-width-thick};
    --QLD-border-width-extra-thick: #{$QLD-border-width-extra-thick};

    --QLD-default-mobile-xs: #{$QLD-default-mobile-xs};
    --QLD-default-mobile-sm: #{$QLD-default-mobile-sm};
    --QLD-default-mobile-md: #{$QLD-default-mobile-md};
    --QLD-default-mobile-lg: #{$QLD-default-mobile-lg};
    --QLD-default-mobile-xl: #{$QLD-default-mobile-xl};
    --QLD-default-mobile-xxl: #{$QLD-default-mobile-xxl};
    --QLD-default-mobile-xxxl: #{$QLD-default-mobile-xxxl};

    --QLD-default-desktop-xs: #{$QLD-default-desktop-xs};
    --QLD-default-desktop-sm: #{$QLD-default-desktop-sm};
    --QLD-default-desktop-md: #{$QLD-default-desktop-md};
    --QLD-default-desktop-lg: #{$QLD-default-desktop-lg};
    --QLD-default-desktop-xl: #{$QLD-default-desktop-xl};
    --QLD-default-desktop-xxl: #{$QLD-default-desktop-xxl};
    --QLD-default-desktop-xxxl: #{$QLD-default-desktop-xxxl};

    --QLD-heading-space-xs: #{$QLD-heading-space-xs};
    --QLD-heading-space-sm: #{$QLD-heading-space-sm};
    --QLD-heading-space-md: #{$QLD-heading-space-md};
    --QLD-heading-space-lg: #{$QLD-heading-space-lg};
    --QLD-heading-space-xl: #{$QLD-heading-space-xl};
    --QLD-heading-space-xxl: #{$QLD-heading-space-xxl};
    --QLD-heading-space-xxxl: #{$QLD-heading-space-xxxl};
    --QLD-color-contained-layout__background: #{$QLD-color-contained-layout__background};
}
