/**
  * QLD-color-light styles
  */
$QLD-dark-theme-color--light__site-title: $paletteDarkTypographySiteTitleDefault !default;
$QLD-dark-theme-color--light__design-accent: $paletteDarkAccentDefault !default;
$QLD-dark-theme-color--light__design-on-accent: $paletteDarkAccentOnAccent !default;
$QLD-dark-theme-color--light__heading: $paletteDarkTypographyHeadingDefault !default;
$QLD-dark-theme-color--light__text: $paletteDarkTypographyBodyDefault !default;
$QLD-dark-theme-color--light__text--lighter: $paletteDarkTypographyBodyVariant !default;
$QLD-dark-theme-color--light__link: $paletteDarkActionLinkDefaultColor !default;
$QLD-dark-theme-color--light__link--visited: $paletteDarkActionLinkVisitedColor !default;
$QLD-dark-theme-color--light__link--on-action: $paletteDarkActionButtonPrimaryDefaultText !default;
$QLD-dark-theme-color--light__action--primary: $paletteDarkActionButtonPrimaryDefaultBackground !default;
$QLD-dark-theme-color--light__action--primary-hover: $paletteDarkActionButtonPrimaryHoverBackground !default;
$QLD-dark-theme-color--light__action--secondary: $paletteDarkActionButtonSecondaryDefaultBorder !default;
$QLD-dark-theme-color--light__action--secondary-hover: $paletteDarkActionButtonSecondaryHoverBorder !default;
$QLD-dark-theme-color--light__focus: $paletteDarkFocusOutlineColor !default;
$QLD-dark-theme-color--light__border: $paletteDarkBorderDefault !default;
$QLD-dark-theme-color--light__border--variant: $paletteDarkBorderVariant !default;
$QLD-dark-theme-color--light__background: $paletteDarkBackground !default;
$QLD-dark-theme-color--light__background--shade: $paletteDarkShade !default;

/**
  * QLD-color-light-alt styles
  */

$QLD-dark-theme-color--light__border--alt: $paletteBoldBorderDefault !default;
$QLD-dark-theme-color--light__background--alt: $paletteBoldBackground !default;
$QLD-dark-theme-color--light__background--alt-shade: $paletteBoldShade !default;

/**
  * QLD-color-dark styles
  */
$QLD-dark-theme-color--dark__site-title: $paletteStrongTypographySiteTitleDefault !default;
$QLD-dark-theme-color--dark__design-accent: $paletteStrongAccentDefault !default;
$QLD-dark-theme-color--dark__design-on-accent: $paletteStrongAccentOnAccent !default;
$QLD-dark-theme-color--dark__heading: $paletteStrongTypographyHeadingDefault !default;
$QLD-dark-theme-color--dark__text: $paletteStrongTypographyBodyDefault !default;
$QLD-dark-theme-color--dark__text--lighter: $paletteStrongTypographyBodyVariant !default;
$QLD-dark-theme-color--dark__link: $paletteStrongActionLinkDefaultColor !default;
$QLD-dark-theme-color--dark__link--visited: $paletteStrongActionLinkVisitedColor !default;
$QLD-dark-theme-color--dark__link--on-action: $paletteStrongActionButtonPrimaryDefaultText !default;
$QLD-dark-theme-color--dark__action--primary: $paletteStrongActionButtonPrimaryDefaultBackground !default;
$QLD-dark-theme-color--dark__action--primary-hover: $paletteStrongActionButtonPrimaryHoverBackground !default;
$QLD-dark-theme-color--dark__action--secondary: $paletteStrongActionButtonSecondaryDefaultBorder !default;
$QLD-dark-theme-color--dark__action--secondary-hover: $paletteStrongActionButtonSecondaryHoverBorder !default;
$QLD-dark-theme-color--dark__focus: $paletteStrongFocusOutlineColor !default;
$QLD-dark-theme-color--dark__border: $paletteStrongBorderDefault !default;
$QLD-dark-theme-color--dark__border--variant: $paletteStrongBorderVariant !default;
$QLD-dark-theme-color--dark__background: $paletteStrongBackground !default;
$QLD-dark-theme-color--dark__background--shade: $paletteStrongShade !default;

/**
  * QLD-color-alt-dark styles
  */
$QLD-dark-theme-color--dark__border--alt: $paletteStrongBorderDefault !default;
$QLD-dark-theme-color--dark__background--alt: $paletteStrongBackground !default;
$QLD-dark-theme-color--dark__background--alt-shade: $paletteStrongShade !default;

/**
* QLD underline-color values
*/
$QLD-dark-theme-color--status__light-underline: $transparencyWhiteMd !default;
$QLD-dark-theme-color--light__underline: $paletteDarkActionLinkDefaultTextDecorationColor !default;
$QLD-dark-theme-color--light__underline--hover: $paletteDarkActionLinkHoverTextDecorationColor !default;
$QLD-dark-theme-color--light__underline--visited: $paletteDarkActionLinkVisitedTextDecorationColor !default;
$QLD-dark-theme-color--light__underline--hover-visited: $paletteDarkActionLinkVisitedTextDecorationColor !default;
$QLD-dark-theme-color--status__dark-underline: $transparencyBlackMd !default;
$QLD-dark-theme-color--dark__underline: $paletteStrongActionLinkDefaultTextDecorationColor !default;
$QLD-dark-theme-color--dark__underline--hover: $paletteStrongActionLinkHoverTextDecorationColor !default;
$QLD-dark-theme-color--dark__underline--visited: $paletteStrongActionLinkVisitedTextDecorationColor !default;
$QLD-dark-theme-color--dark__underline--hover-visited: $paletteStrongActionLinkVisitedTextDecorationColor !default;

/**
* QLD custom properties (CSS variables) - defaults
*/
@mixin css-variables-dark() {
  --QLD-color-light__site-title: #{$QLD-dark-theme-color--light__site-title};
  --QLD-color-light__design-accent: #{$QLD-dark-theme-color--light__design-accent};
  --QLD-color-light__design-on-accent: #{$QLD-dark-theme-color--light__design-on-accent};
  --QLD-color-light__heading: #{$QLD-dark-theme-color--light__heading};
  --QLD-color-light__text: #{$QLD-dark-theme-color--light__text};
  --QLD-color-light__text--lighter: #{$QLD-dark-theme-color--light__text--lighter};
  --QLD-color-light__link: #{$QLD-dark-theme-color--light__link};
  --QLD-color-light__link--visited: #{$QLD-dark-theme-color--light__link--visited};
  --QLD-color-light__link--on-action: #{$QLD-dark-theme-color--light__link--on-action};
  --QLD-color-light__action--primary: #{$QLD-dark-theme-color--light__action--primary};
  --QLD-color-light__action--primary-hover: #{$QLD-dark-theme-color--light__action--primary-hover};
  --QLD-color-light__focus: #{$QLD-dark-theme-color--light__focus};
  --QLD-color-light__border: #{$QLD-dark-theme-color--light__border};
  --QLD-color-light__border--variant: #{$QLD-dark-theme-color--light__border--variant};
  --QLD-color-light__background: #{$QLD-dark-theme-color--light__background};
  --QLD-color-light__background--shade: #{$QLD-dark-theme-color--light__background--shade};
  --QLD-color-status__light-underline: #{$QLD-dark-theme-color--status__light-underline};
  --QLD-color-light__underline: #{$QLD-dark-theme-color--light__underline};
  --QLD-color-light__underline--hover: #{$QLD-dark-theme-color--light__underline--hover};
  --QLD-color-light__underline--visited: #{$QLD-dark-theme-color--light__underline--visited};
  --QLD-color-light__underline--hover-visited: #{$QLD-dark-theme-color--light__underline--hover-visited};
  --QLD-color-light__action--secondary: #{$QLD-dark-theme-color--light__action--secondary};
  --QLD-color-light__action--secondary-hover: #{$QLD-dark-theme-color--light__action--secondary-hover};
  --QLD-color-light__border--alt: #{$QLD-dark-theme-color--light__border--alt};
  --QLD-color-light__background--alt: #{$QLD-dark-theme-color--light__background--alt};
  --QLD-color-light__background--alt-shade: #{$QLD-dark-theme-color--light__background--alt-shade};

  --QLD-color-dark__site-title: #{$QLD-dark-theme-color--dark__site-title};
  --QLD-color-dark__design-accent: #{$QLD-dark-theme-color--dark__design-accent};
  --QLD-color-dark__design-on-accent: #{$QLD-dark-theme-color--dark__design-on-accent};
  --QLD-color-dark__heading: #{$QLD-dark-theme-color--dark__heading};
  --QLD-color-dark__text: #{$QLD-dark-theme-color--dark__text};
  --QLD-color-dark__text--lighter: #{$QLD-dark-theme-color--dark__text--lighter};
  --QLD-color-dark__link: #{$QLD-dark-theme-color--dark__link};
  --QLD-color-dark__link--visited: #{$QLD-dark-theme-color--dark__link--visited};
  --QLD-color-dark__link--on-action: #{$QLD-dark-theme-color--dark__link--on-action};
  --QLD-color-dark__action--primary: #{$QLD-dark-theme-color--dark__action--primary};
  --QLD-color-dark__action--primary-hover: #{$QLD-dark-theme-color--dark__action--primary-hover};
  --QLD-color-dark__focus: #{$QLD-dark-theme-color--dark__focus};
  --QLD-color-dark__border: #{$QLD-dark-theme-color--dark__border};
  --QLD-color-dark__border--variant: #{$QLD-dark-theme-color--dark__border--variant};
  --QLD-color-dark__background: #{$QLD-dark-theme-color--dark__background};
  --QLD-color-dark__background--shade: #{$QLD-dark-theme-color--dark__background--shade};
  --QLD-color-status__dark-underline: #{$QLD-dark-theme-color--status__dark-underline};
  --QLD-color-dark__underline: #{$QLD-dark-theme-color--dark__underline};
  --QLD-color-dark__underline--hover: #{$QLD-dark-theme-color--dark__underline--hover};
  --QLD-color-dark__underline--visited: #{$QLD-dark-theme-color--dark__underline--visited};
  --QLD-color-dark__underline--hover-visited: #{$QLD-dark-theme-color--dark__underline--hover-visited};

  --QLD-color-dark__action--secondary: #{$QLD-dark-theme-color--dark__action--secondary};
  --QLD-color-dark__action--secondary-hover: #{$QLD-dark-theme-color--dark__action--secondary-hover};
  --QLD-color-dark__border--alt: #{$QLD-dark-theme-color--dark__border--alt};
  --QLD-color-dark__background--alt: #{$QLD-dark-theme-color--dark__background--alt};
  --QLD-color-dark__background--alt-shade: #{$QLD-dark-theme-color--dark__background--alt-shade};
}
