{{!-- {{#ifCond current.data.metadata.pageType.value '==' 'landing'}} --}}
<section class="qld__body">
    <div class="container-fluid">
{{!-- {{/ifCond}}        --}}

    <nav class="qld__inpage-nav-links" aria-label="In page navigation" data-headingType="{{component.data.metadata.headingType.value}}">
        <h2 class="qld__inpage-nav-links__heading">
            {{{component.data.metadata.heading.value}}}
        </h2>
        <ul class="qld__link-list"></ul>
    </nav>

{{!-- {{#ifCond current.data.metadata.pageType.value '==' 'landing'}} --}}
</div>
</section>
{{!-- {{/ifCond}}     --}}

