{{#ifCond current.data.metadata.displayLastUpdated.value '==' 'yes'}}
    {{#ifCond current.data.metadata.pageType.value '==' 'landing'}} 
        <section class="qld__body">
            <div class="container-fluid">
                <p><strong style="padding-right: 12px;">Last updated:</strong>&nbsp;{{formatDate current.data.updated "F Y"}}</p>
            </div>
        </section>
    {{/ifCond}}
    {{#ifCond current.data.metadata.pageType.value '==' 'news_detail'}}
        <section class="qld__body">
            <div class="container-fluid">
                <p><strong style="padding-right: 12px;">Last updated:</strong>&nbsp;{{formatDate current.data.updated "F Y"}}</p>
            </div>
        </section>
    {{/ifCond}}
    {{#ifCond current.data.metadata.pageType.value '==' 'content'}}
        <section class="qld__body">
            <div class="container-fluid">
                <p><strong style="padding-right: 12px;">Last updated:</strong>&nbsp;{{formatDate current.data.updated "F Y"}}</p>
            </div>
        </section>
    {{/ifCond}}
    {{#ifCond current.data.metadata.pageType.value '==' 'site_search'}} 
        <section class="qld__body">
            <div class="container-fluid">
                <p><strong style="padding-right: 12px;">Last updated:</strong>&nbsp;{{formatDate current.data.updated "F Y"}}</p>
            </div>
        </section>
    {{/ifCond}}

{{/ifCond}}