//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Icons
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__icon{
    height: $QLD-icon-size-xs;
    width: $QLD-icon-size-xs;
    vertical-align: middle;
    align-self: center;

    &--sm{
        height: $QLD-icon-size-sm;
        width: $QLD-icon-size-sm;
    }
    &--md{
        height: $QLD-icon-size-md;
        width: $QLD-icon-size-md;
    }
    &--lg{
        height: $QLD-icon-size-lg;
        width: $QLD-icon-size-lg;
    }

    &--xl{
        height: $QLD-icon-size-xl;
        width: $QLD-icon-size-xl;
    }
}

