//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Forms - General styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//Legend
.qld__fieldset__legend,
.sq-form-question-title {	
    color: var(--QLD-color-light-text);
	display: block;

    .qld__body--dark &,
	.qld__body--dark-alt & {
        color: var(--QLD-color-dark-text);
    }
}

legend.sq-form-section-title{
    @include QLD-space(padding-top, 2unit);
    @include QLD-fontgrid(lg, heading);
    font-weight: bold;
    color: var(--QLD-color-light-heading);

    + *{
        @include QLD-space(margin-top, 1.25unit);
    }

    .qld__body--dark &,
	.qld__body--dark-alt & {
        color: var(--QLD-color-dark-heading);
    }
}

legend, legend.sq-form-question-title{
    margin-bottom : 0;
    padding: 0;
    font-weight: 600;
}


//Label
.qld__label,
label{
    color: var(--QLD-color-light-text);
    display: block;
    font-weight: 600;
    line-height: 1.5rem;

    @include QLD-media (lg) {
        vertical-align: middle;
    }

    // Add space between any <input> element and `.qld__select class
    &+select,
    +input,
    +textarea {
        @include QLD-space(margin-top, 0.5unit);
    }

    &--inline {
        display: inline-block;

        &+select,
        +input,
        +textarea {
            margin-top: 0;
        }
    }

    &--optional {
        font-size: 0.875rem;
        display: inline-block;
        margin-left: 0.25rem;
        font-weight: 400;
    }

    + .qld__select,
    + input,
    + textarea {
        @include QLD-space(margin-top, 0.5unit);
    }

    .qld__body--dark &,
    .qld__body--dark-alt & {
        color: var(--QLD-color-dark-text);
    }
}

.qld__hint-text,
.sq-form-question-note {
    font-family: $QLD-font;
	font-style: normal;
    color: var(--QLD-color-light-hint);
	display: block;
    @include QLD-fontgrid(sm, default);

    *+& {
        @include QLD-space(margin-top, 0.5unit);
    }

    //add space between form control and hint text
    &+select,
    +input,
    +textarea {
        @include QLD-space(margin-top, 0.5unit);
    }

    .qld__body--dark &,
    .qld__body--dark-alt & {
        color: var(--QLD-color-dark-text__muted);
    }

    &--alt {
        color: var(--QLD-color-light-alt-hint);
    }
}

// Matrix forms 
.qld__grid .qld__form-group,
.sq-form-question {
	display: flex;
	flex-direction: column;

    // Error state for form group
    &--invalid {
        border-left: solid 5px $QLD-color-error;
        padding-left: 15px;
    }

    //Add space above form consecutive
	+.qld__form-group,
	+.sq-form-question {
        * + & {
            @include QLD-space(margin-top, 1.5unit);

            @include QLD-media(lg) {
                @include QLD-space(margin-top, 2unit);
            }
        }
    }

    .sq-form-question-answer,
    .qld__form-field {
        order: 1;
    }

    .sq-form-question-answer{
        @include QLD-space(margin-top, 0.5unit);
        ul{
            padding: 0;
            list-style: none;

            .qld__control-input--inline &{
                display: flex;
            }
        }

        li{
            display: block;
            position: relative;
            @include QLD-clearfix();

            & + li {
                @include QLD-space(margin-top, 0.5unit);
                .qld__control-input--inline &{
                    @include QLD-space(margin-top, 0unit);
                    @include QLD-space(margin-left, 0.5unit);
                }
            }
        }
    }
}

//Forms spacing
* + form {
    @include QLD-space(margin-top, 2unit);
}

#content[class^="col-"] form {
    @include QLD-media ( md ) {
        @include QLD-space(margin-top, 2unit);
    }
}

// .qld__fieldset__legend,
// legend {
//     @include QLD-space(margin-bottom, 0.5unit);
// }

// Reset fieldset styling to avoid inconsistency across different browsers
.qld__fieldset,
fieldset {
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
    border: 0;
}

form {
    > .sq-form-control{
        @include QLD-space(margin-top, 1.25unit);
    }
    &+select,
    +input,
    +textarea {
        @include QLD-space(margin-top, 0.5unit);
    }
}

.qld__form-group {
    &--invalid {
        border: none;
        @include QLD-space(padding-left, 0unit);
    }
    + .qld__form-group {
        @include QLD-space("margin-top", 1unit);
    }
}


.qld__hint-text,
.qld__input--error {
    * + & {
        @include QLD-space(margin-top, 0.5unit);
    }
}

// .qld__input--error {
//     color: $QLD-color-error;
// }

.qld__body {
    .sq-form-required-field, abbr[title="required"]  {
        float: left;
        @include QLD-space(margin-right, 0.25unit);
        color:$QLD-color-error;
        font-size: 1rem;
        border:0;
        text-decoration:none;
    }
}


.qld__control-group {
    @include QLD-space(margin-top, 1.5unit);
}

.qld__control-input {
    padding: 0;

    * + & {
        @include QLD-space(margin-top, 1unit);
    }
}




// .qld__control-input,
// .sq-form-question li {
	

// 	& + .qld__control-input,
	

// 	&.qld__control-input--inline {
// 		display: inline-block;
// 	}
// }






// .qld__example__title + .qld__form-group {
//     @include QLD-space(margin-top, 1.25unit);
// }
















p.qld__input--error,
p.sq-form-error {
    font-family: $QLD-font;
    font-weight: bold;
    @include QLD-fontgrid(sm, default);
    color: $QLD-color-error;
	display: block;

    *+& {
		@include QLD-space(margin-top, 0.5unit);
    }

    //add space between form control and hint text
    &+select,
    +input,
    +textarea {
        @include QLD-space(margin-top, 0.5unit);
    }

    &--inline {
        display: inline-block;

        &+select,
        +input,
        +textarea {
            margin-top: 0;
        }
    }

    // toggle class to show/hide error text
    &--hidden {
        display: none;
    }
    
    .qld__body--dark & {
        background-color: $QLD-color-error;
        color: white;
        @include QLD-space(padding, 0.5unit 0.75unit);
    }
}


