//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Forms - General styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//Legend
.qld__fieldset__legend,
.sq-form-question-title {
    color: var(--QLD-color-light__text);
    display: block;

    .qld__body--dark &,
    .qld__body--dark-alt & {
        color: var(--QLD-color-dark__text);
    }
}

legend.sq-form-section-title {
    @include QLD-space(padding-top, 2unit);
    @include QLD-fontgrid(lg, heading);
    font-weight: bold;
    color: var(--QLD-color-light__heading);

    + * {
        @include QLD-space(margin-top, 1.25unit);
    }

    .qld__body--dark &,
    .qld__body--dark-alt & {
        color: var(--QLD-color-dark__heading);
    }
}

legend,
legend.sq-form-question-title {
    margin-bottom: 0;
    padding: 0;
    font-weight: 600;
}

//Label
.qld__label,
label {
    color: var(--QLD-color-light__text);
    display: block;
    font-weight: 600;
    line-height: 1.5rem;

    @include QLD-media(lg) {
        vertical-align: middle;
    }

    // Add space between any <input> element and select
    & + .select-wrapper,
    + input,
    + textarea {
        @include QLD-space(margin-top, 0.5unit);
    }

    &--inline {
        display: inline-block;

        & + .select-wrapper,
        + input,
        + textarea {
            margin-top: 0;
        }
    }

    &--optional {
        font-size: 0.875rem;
        display: inline-block;
        margin-left: 0.25rem;
        font-weight: 400;
    }

    & + .select-wrapper,
    + input,
    + textarea {
        @include QLD-space(margin-top, 0.5unit);
    }

    .qld__body--dark &,
    .qld__body--dark-alt & {
        color: var(--QLD-color-dark__text);
    }
}

.qld__input--valid {
    color: var(--QLD-color-light__text);
}

.qld__input--error {
    color: $QLD-color-status__error;
}

.qld__hint-text,
.sq-form-question-note {
    font-family: $QLD-font;
    font-style: normal;
    color: var(--QLD-color-light__text--lighter);
    display: block;
    @include QLD-fontgrid(sm, default);

    * + & {
        @include QLD-space(margin-top, 0.5unit);
    }

    //add space between form control and hint text
    & + .select-wrapper,
    + input,
    + textarea {
        @include QLD-space(margin-top, 0.5unit);
    }

    .qld__body--dark &,
    .qld__body--dark-alt & {
        color: var(--QLD-color-dark__text--lighter);
    }

    &--alt {
        color: var(--QLD-color-light__text--lighter);
    }
}

// Matrix forms
.qld__grid .qld__form-group,
.sq-form-question {
    display: flex;
    flex-direction: column;

    // Error state for form group
    &--invalid {
        border-left: solid 5px $QLD-color-status__error;
        padding-left: 15px;
    }

    * + & {
        @include QLD-space(margin-top, 1.5unit);

        @include QLD-media(lg) {
            @include QLD-space(margin-top, 2unit);
        }
    }

    .qld__horizontal-rule + & {
        @include QLD-space(margin-top, 0unit);
    }

    .sq-form-question-answer,
    .qld__form-field {
        order: 1;
    }

    .sq-form-question-answer {
        @include QLD-space(margin-top, 0.5unit);
        ul {
            padding: 0;
            list-style: none;

            .qld__control-input--inline & {
                display: flex;
            }
        }

        li {
            display: block;
            position: relative;
            @include QLD-clearfix();

            & + li {
                @include QLD-space(margin-top, 0.5unit);
                .qld__control-input--inline & {
                    @include QLD-space(margin-top, 0unit);
                    @include QLD-space(margin-left, 0.5unit);
                }
            }
        }
    }
}

.sq-form-question {
    * + & {
        margin-top: 2rem;
    }
}

//Forms spacing
* + form {
    @include QLD-space(margin-top, 2unit);
}

#content[class^="col-"] form {
    @include QLD-media(md) {
        @include QLD-space(margin-top, 2unit);
    }
}

// Reset fieldset styling to avoid inconsistency across different browsers
.qld__fieldset,
fieldset {
    display: flex;
    flex-direction: column;
    * + & {
        margin-top: 2rem;
    }
    margin: 0;
    padding: 0;
    border: 0;
}

form {
    > .sq-form-control {
        @include QLD-space(margin-top, 1.25unit);
    }
    & + .select-wrapper,
    + input,
    + textarea {
        @include QLD-space(margin-top, 0.5unit);
    }
    * + .qld__btn {
        margin-top: 2rem;
    }
}

.qld__form-group {
    &--invalid {
        border: none;
        @include QLD-space(padding-left, 0unit);
    }
}

.qld__hint-text,
.qld__input--error,
.qld__input--success {
    * + & {
        @include QLD-space(margin-top, 0.5unit);
        display: block;
    }
}

.sq-form-error:has(> .qld__icon),
span.qld__input--error,
span.qld__input--success {
    display: flex;
    flex-direction: row;
}

.qld__input--error {
    color: $QLD-color-status__error;

    .qld__body--dark &,
    .qld__body--dark-alt & {
        color: $QLD-color-status__error--lightest;
    }
}

.qld__body {
    .sq-form-required-field,
    abbr[title="required"] {
        float: left;
        @include QLD-space(margin-right, 0.25unit);
        color: $QLD-color-status__error;
        font-size: 1rem;
        border: 0;
        text-decoration: none;
    }
}

.qld__control-group {
    *:not(hr) + & {
        @include QLD-space(margin-top, 1.5unit);
    }
}

.qld__control-input {
    padding: 0;

    * + & {
        @include QLD-space(margin-top, 1unit);
    }
}

p.qld__input--error,
span.qld__input--error p.sq-form-error {
    font-family: $QLD-font;
    font-weight: bold;
    @include QLD-fontgrid(sm, default);
    color: $QLD-color-status__error;
    display: block;

    * + & {
        @include QLD-space(margin-top, 0.5unit);
    }

    //add space between form control and hint text
    & + .select-wrapper,
    + input,
    + textarea {
        @include QLD-space(margin-top, 0.5unit);
        display: block;
    }

    &--inline {
        display: inline-block;

        & + .select-wrapper,
        + input,
        + textarea {
            margin-top: 0;
        }
    }

    // toggle class to show/hide error text
    &--hidden {
        display: none;
    }
}

.qld__body--dark {
    p.qld__input--error,
    span.qld__input--error,
    p.sq-form-error {
        color: $QLD-color-status__error--lightest;
    }
}
