<!DOCTYPE html>
<!--[if lt IE 8]>
        <html class="no-js lt-ie8 lt-ie9" lang="en">
    <![endif]-->
<!--[if IE 8]>
        <html class="no-js lt-ie9 ie8" lang="en">
    <![endif]-->
<!--[if IE 9]>
        <html class="no-js ie9" lang="en">
    <![endif]-->
<!--[if !(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Queensland Design System - Storybook</title>
    {{> ../components/_global/header-scripts }}
</head>

<body class="qld__grid custombody">
    {{> ../components/header/html/component }}
    {{> ../components/main_navigation/html/component }}
    <!-- MAIN BODY -->
    <main class="main" role="main">
        {{> ../components/breadcrumbs/html/component }}
        {{> ../components/banner_basic/html/component }}
        <!--CONTENT-->
        <div class="qld__body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="qld__side-nav qld__accordion">
                            <button class="qld__side-nav__toggle qld__accordion__title qld__accordion--closed"
                                aria-controls="nav-default" aria-expanded="false" aria-selected="false">
                                In Patients and visitors
                            </button>
                            <nav aria-label="side navigation" id="nav-default"
                                class="qld__side-nav__content qld__accordion--closed qld__accordion__body">
                                <h2 class="qld__sidenav__title">
                                    <a class="qld__sidenav__link"
                                        href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors">Patients
                                        and visitors</a>
                                </h2>
                                <ul class="qld__link-list">
                                    <li>
                                        <a class="qld__sidenav__link"
                                            href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/visiting-someone-in-hospital">Visiting
                                            someone in hospital</a>
                                    </li>
                                    <li>
                                        <a class="qld__sidenav__link"
                                            href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/going-to-hospital">Going
                                            to hospital</a>
                                    </li>
                                    <li>
                                        <a class="qld__sidenav__link"
                                            href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/leaving-hospital">Leaving
                                            hospital</a>
                                    </li>
                                    <li>
                                        <a class="qld__sidenav__link"
                                            href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/telehealth">Telehealth</a>
                                    </li>
                                    <li>
                                        <a class="qld__sidenav__link"
                                            href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/interpreter-services">Interpreter
                                            services</a>
                                    </li>
                                    <li>
                                        <a class="qld__sidenav__link"
                                            href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/how-to-access-healthcare-if-you-are-visiting-from-overseas">How
                                            to access healthcare if you are visiting from overseas</a>
                                    </li>
                                    <li>
                                        <a class="qld__sidenav__link"
                                            href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/your-health-record">Your
                                            health record</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-9" id="content">
                        <section class="qld__card--wrapper qld__body  qld__card--wrapper-bg-colour"
                            id="cards-single-106046">

                            <div class="container-fluid">



                                <div class="row">
                                    <ul class="qld__card-list qld__card-list--matchheight">

                                        <li class="col-xs-12 col-md-6 col-lg-6">

                                            <div class="qld__card qld__card__action     ">


                                                <div class="qld__card__inner">
                                                    <div class="qld__card__content">
                                                        <div class="qld__card__content-inner">
                                                            <h3 class="qld__card__title">
                                                                <a aria-label="Emergency department"
                                                                    aria-describedby="card-105541"
                                                                    class="qld__card--clickable__link"
                                                                    href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/going-to-hospital/emergency-department">Emergency
                                                                    department</a>
                                                            </h3>

                                                            <p id="card-105541" class="qld__card__description">
                                                                Our emergency departments operate 24 hours a day,
                                                                providing care to patients with a serious illness or
                                                                injury.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xs-12 col-md-6 col-lg-6">

                                            <div class="qld__card qld__card__action     ">


                                                <div class="qld__card__inner">
                                                    <div class="qld__card__content">
                                                        <div class="qld__card__content-inner">
                                                            <h3 class="qld__card__title">
                                                                <a aria-label="Specialist doctor appointments"
                                                                    aria-describedby="card-105557"
                                                                    class="qld__card--clickable__link"
                                                                    href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/going-to-hospital/specialist-doctor-appointments">Specialist
                                                                    doctor appointments</a>
                                                            </h3>

                                                            <p id="card-105557" class="qld__card__description">
                                                                Clinics at the hospital where you can see specialist
                                                                medical and surgical doctors and nurses and don't need a
                                                                hospital admission. We call these Outpatient Clinics.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xs-12 col-md-6 col-lg-6">

                                            <div class="qld__card qld__card__action     ">


                                                <div class="qld__card__inner">
                                                    <div class="qld__card__content">
                                                        <div class="qld__card__content-inner">
                                                            <h3 class="qld__card__title">
                                                                <a aria-label="Day surgery"
                                                                    aria-describedby="card-105561"
                                                                    class="qld__card--clickable__link"
                                                                    href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/going-to-hospital/day-surgery">Day
                                                                    surgery</a>
                                                            </h3>

                                                            <p id="card-105561" class="qld__card__description">
                                                                When you have day surgery, it's done on the day you come
                                                                to hospital. You don't need to stay in hospital
                                                                overnight.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xs-12 col-md-6 col-lg-6">

                                            <div class="qld__card qld__card__action     ">


                                                <div class="qld__card__inner">
                                                    <div class="qld__card__content">
                                                        <div class="qld__card__content-inner">
                                                            <h3 class="qld__card__title">
                                                                <a aria-label="Before your surgery"
                                                                    aria-describedby="card-105573"
                                                                    class="qld__card--clickable__link"
                                                                    href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/going-to-hospital/before-your-surgery">Before
                                                                    your surgery</a>
                                                            </h3>

                                                            <p id="card-105573" class="qld__card__description">
                                                                If you're going to have surgery, find out as much as you
                                                                can about what will happen. Ask your doctor what your
                                                                surgery will involve and what you need to do before the
                                                                surgery.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xs-12 col-md-6 col-lg-6">

                                            <div class="qld__card qld__card__action     ">


                                                <div class="qld__card__inner">
                                                    <div class="qld__card__content">
                                                        <div class="qld__card__content-inner">
                                                            <h3 class="qld__card__title">
                                                                <a aria-label="Staying in hospital"
                                                                    aria-describedby="card-105589"
                                                                    class="qld__card--clickable__link"
                                                                    href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/going-to-hospital/staying-in-hospital">Staying
                                                                    in hospital</a>
                                                            </h3>

                                                            <p id="card-105589" class="qld__card__description">
                                                                Find out what you need to do if you're going to be
                                                                staying in hospital.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xs-12 col-md-6 col-lg-6">

                                            <div class="qld__card qld__card__action     ">


                                                <div class="qld__card__inner">
                                                    <div class="qld__card__content">
                                                        <div class="qld__card__content-inner">
                                                            <h3 class="qld__card__title">
                                                                <a aria-label="Pharmacy" aria-describedby="card-219480"
                                                                    class="qld__card--clickable__link"
                                                                    href="https://www.darlingdowns.health.qld.gov.au/patients-and-visitors/going-to-hospital/pharmacy">Pharmacy</a>
                                                            </h3>

                                                            <p id="card-219480" class="qld__card__description">
                                                                Find out more about our medication services and how the
                                                                pharmacy staff can help you.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                            </div>


                        </section>
                        <section class="qld__body qld__body--alt qld__body--full-width" id="body-106048">
                            <div class="container-fluid">

                                <div id="component_106048">
                                    <h2>Digital accessibility</h2>
                                    <p>If you live in a rural and remote area, and have to travel more than 50 km to
                                        your local public hospital, you may be eligible for the Patient Travel Subsidy
                                        Scheme.&nbsp;<a
                                            href="https://www.qld.gov.au/health/services/travel/subsidies/process#referral"
                                            target="_blank">Find out if you're eligible</a>.</p>
                                    <p>The Patient Travel Subsidy Scheme helps with travel and accommodation costs for
                                        patients who need to use specialist medical services that aren't available in
                                        their local area.</p>
                                    <p>You can&nbsp;<a href="https://www.qld.gov.au/health/services/travel/subsidies"
                                            data-gc-link="https://www.qld.gov.au/health/services/travel/subsidies"
                                            target="_blank" rel="noopener noreferrer">read more about the subsidy
                                            scheme</a> on the Queensland Government website.</p>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        {{> ../components/widgets/html/component }}
    </main>
    {{> ../components/footer/html/component }}
    {{> ../components/_global/footer-scripts }}
</body>

</html>