.qld__pre-footer {
    .container-fluid {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        @include QLD-media(sm) {
            flex-direction: row;
            align-items: center;
        }
    }
    .qld__widgets__back_to_top {
        position: relative;
        top: 40px;
        padding: 0;
        margin: 0 auto 40px 0;
        @include QLD-media(sm) {
            margin-bottom: 0;
            margin-right: 0;
            margin-left: auto;
            top: 0;
        }
    }
}

@mixin QLD-BTT-arrow-colours($interact-colour) {
    &:hover,
    &:focus,
    &:active {
        &::after,
        &::before {
            border-color: $interact-colour;
        }
    }
}

.qld__body {
    .qld__widgets__back_to_top > .qld__direction-link {
        &:visited {
            color: var(--QLD-color-light__link);
            text-decoration: var(--QLD-color-light__underline);
        }

        @include QLD-BTT-arrow-colours(
            var(--QLD-color-light__action--secondary-hover)
        );
    }
}

.qld__body.qld__body--dark,
.qld__body.qld__body--dark-alt {
    .qld__widgets__back_to_top > .qld__direction-link {
        &:visited {
            color: var(--QLD-color-dark__link);
            text-decoration: var(--QLD-color-dark__underline);
        }

        @include QLD-BTT-arrow-colours(
            var(--QLD-color-dark__action--secondary-hover)
        );
    }
}
