//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Feature card
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__card.qld__card__multi-action.qld__card__multi-action--feature {
  @include QLD-media(md) {
    flex-direction: row;
    @include QLD-space(min-height, 18.75unit);
  }
  @include QLD-media(lg) {
    @include QLD-space(min-height, 27.5unit);
  }

  .qld__card__image-wrapper,
  .qld__card__image-link {
    @include QLD-media(md) {
      flex: 1;
      @include QLD-space(padding-bottom, 0unit);
      height: auto;
    }
    @include QLD-media(lg) {
      flex: 2;
    }
  }

  .qld__card__image-link {
    &:focus {
      outline: none;
      box-shadow: inset 0 0 3px var(--QLD-color-light__focus);
    }
  }

  .qld__card__inner {
    @include QLD-space(padding, 1.5unit);
    @include QLD-media(md) {
      @include QLD-space(padding, 1.25unit);
      flex: 1;
    }

    @include QLD-media(lg) {
      @include QLD-space(padding, 2unit);
    }

    .qld__card__title {
      @include QLD-space(font-size, 1.25unit);
      line-height: 1.4;
    }
  }

  .qld__card__footer {
    justify-content: initial;
  }

  &.qld__card__multi-action--image-right {
    @include QLD-media(md) {
      flex-direction: row-reverse;
    }
    @include QLD-media(lg) {
    }

    .qld__responsive-media-img--bg {
      border-radius: 0;

      &::before {
        border-radius: 0;
      }
    }
    .qld__card__inner {
      .qld__card__title {
        @include QLD-space(font-size, 1.25unit);
        line-height: 1.4;
      }
    }
  }
}
