//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// {{component_name}}
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


.qld__caption {
    font-style: normal;
    color: var(--QLD-color-light-text__muted);
    font-size: 14px;
    font-size: 0.87rem;
    line-height: 1.4;
    font-weight: 400;

    .qld__body--dark &,
    .qld__body--dark-alt & {
        color: var(--QLD-color-dark-text__muted);
    }
}

#qld_table_csv_wrapper {
    div.top, div.bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 12px;
        align-items: center;
        gap: 16px;
    }

    .item-numbers {
        color: $QLD-color-system-grey-dark;

        &-total {
            font-weight: 700;
        }

        &-heading {
            color: var(--QLD-color-light-heading);
            font-weight: 700;
        }
    }

    div.bottom {
        gap: 24px;
    }
}

.qld__data_table_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: var(--QLD-color-dark-system-underline);
        span.qld__caption {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }
    
}

.qld__data_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    .qld__data_table__caption,
    caption {
        @include QLD-fontgrid(md, heading);
        font-weight: bold;
        text-align: left;
        display: table-caption;
        @include QLD-space(padding, 0.75unit);
        color: var(--QLD-color-light-heading);
        box-shadow: inset 0 -1px 0 var(--QLD-color-light-border);
        background-color: var(--QLD-color-light-background);

        .qld__caption {
            display: block;
        }
    }

    .qld__data_table__head,
    thead {
        text-align: left;
        display: table-header-group;

        tr {
            &:nth-child(2) {
                background-color: var(--QLD-color-light-background__shade);
            }
        }
    }

    .qld__data_table__header,
    th {
        // @include QLD-standard-space(padding, 5 4 5 4);
        padding: 1.25rem 0.75rem 1.25rem 0.75rem;
        box-shadow: inset 0 0 -$QLD-border-width-default 0 var(--QLD-color-light-alt-border);
        color: var(--QLD-color-light-heading);
        font-weight: bold;
        @include QLD-fontgrid(md, heading);

        &.qld__data_table__cell--numeric {
            text-align: right;
            font-variant: tabular-nums;
        }

        &.qld__data_table__cell--middle {
            text-align: center;
        }

        &.qld__data_table__header--width-10 {
            width: 10%;
        }

        &.qld__data_table__header--width-15 {
            width: 15%;
        }

        &.qld__data_table__header--width-20 {
            width: 20%;
        }

        &.qld__data_table__header--width-25 {
            width: 25%;
        }

        &.qld__data_table__header--width-33 {
            width: 33%;
        }

        &.qld__data_table__header--width-40 {
            width: 40%;
        }

        &.qld__data_table__header--width-50 {
            width: 50%;
        }

        &.qld__data_table__header--width-75 {
            width: 75%;
        }

        &.sorting_asc, &.sorting_desc {
            background-color: var(--QLD-color-light-background__shade);
            box-shadow: inset 0 -2px 0 var(--QLD-color-light-designAccent);
        }
    }

    @for $i from 1 through 10 {
        &.qld__data_table__col-#{$i}-num {
            tr {
                td:nth-child(#{$i}),
                th:nth-child(#{$i}):not([colspan]) {
                    text-align: right;
                    font-variant: tabular-nums;
                }
            }
        }
    }

    .qld__data_table__cell,
    td {
        @include QLD-standard-space(padding, 3);
        box-shadow: inset 0 0 -$QLD-border-width-thin 0 var(--QLD-color-light-border);

        &.qld__data_table__cell--numeric {
            text-align: right;
            font-variant: tabular-nums;
        }

        &.qld__data_table__cell--middle {
            text-align: center;
        }

        &.sorting_1 {
            background-color: var(--QLD-color-light-background__shade);
        }
    }

    .qld__data_table__row,
    tr {
        display: table-row;
    }

    tfoot {
        background-color: var(--QLD-color-light-background);
        th {
            box-shadow: 0 -2px 0 var(--QLD-color-light-alt-border);
            
            &.sorting_1 {
                box-shadow: 0 -2px 0 var(--QLD-color-light-designAccent);
                background-color: var(--QLD-color-light-background__shade);
            }

            &:first-of-type {
                // border-radius: 0 0 $QLD-border-radius-sm 0;
            }
        }
    }

    .qld__data_table__cell-left-border {
        border-left: 1px solid var(--QLD-color-light-border);
    }

    .qld__data_table__cell-right-border {
        border-right: 1px solid var(--QLD-color-light-border);
    }

    &.qld__data_table__col-1-left-border tr td:nth-child(1),
    &.qld__data_table__col-2-left-border tr td:nth-child(2),
    &.qld__data_table__col-3-left-border tr td:nth-child(3),
    &.qld__data_table__col-4-left-border tr td:nth-child(4),
    &.qld__data_table__col-5-left-border tr td:nth-child(5),
    &.qld__data_table__col-6-left-border tr td:nth-child(6),
    &.qld__data_table__col-7-left-border tr td:nth-child(7),
    &.qld__data_table__col-8-left-border tr td:nth-child(8),
    &.qld__data_table__col-9-left-border tr td:nth-child(9),
    &.qld__data_table__col-10-left-border tr td:nth-child(10) {
        border-left: 1px solid var(--QLD-color-light-border);
    }

    &.qld__data_table__col-1-right-border tr td:nth-child(1),
    &.qld__data_table__col-2-right-border tr td:nth-child(2),
    &.qld__data_table__col-3-right-border tr td:nth-child(3),
    &.qld__data_table__col-4-right-border tr td:nth-child(4),
    &.qld__data_table__col-5-right-border tr td:nth-child(5),
    &.qld__data_table__col-6-right-border tr td:nth-child(6),
    &.qld__data_table__col-7-right-border tr td:nth-child(7),
    &.qld__data_table__col-8-right-border tr td:nth-child(8),
    &.qld__data_table__col-9-right-border tr td:nth-child(9),
    &.qld__data_table__col-10-right-border tr td:nth-child(10) {
        border-right: 1px solid var(--QLD-color-light-border);
    }

    .qld__body--dark &,
    .qld__body--dark-alt & {

        .qld__data_table__head,
        thead {
            tr {
                &:nth-child(2) {
                    background-color: var(--QLD-color-dark-background__shade);
                }
            }
        }

        .qld__data_table__header,
        th {
            color: var(--QLD-color-dark-heading);
            // box-shadow: inset 0 0 -$QLD-border-width-default 0 var(--QLD-color-dark-border);
            -webkit-box-shadow: inset 0 -2px 0 var(---QLD-color-dark-designAccent);
            box-shadow: inset 0 -2px 0 var(--QLD-color-dark-designAccent);

            tr {
                &:nth-child(2) {
                    background-color: var(--QLD-color-dark-background__shade);
                }
            }
        }

        .qld__data_table__cell,
        td {
            box-shadow: inset 0 0 -$QLD-border-width-thin 0 var(--QLD-color-dark-border);
        }

        caption,
        .qld__data_table__caption {
            color: var(--QLD-color-dark-heading);
            box-shadow: inset 0 -1px 0 var(--QLD-color-dark-border);
            background-color: var(--QLD-color-dark-background);
        }

        tfoot {
            background-color: var(--QLD-color-dark-background);
            -webkit-box-shadow: inset 0 2px 0 var(--QLD-color-dark-designAccent);
            box-shadow: 0 -2px 0 var(--QLD-color-dark-designAccent);

            th {
                box-shadow: none;

                &:first-of-type {
                    // border-radius: 0 0 $QLD-border-radius-sm 0;
                }
            }
        }

        .qld__data_table__cell-left-border {
            border-left: 1px solid var(--QLD-color-dark-border);
        }

        .qld__data_table__cell-right-border {
            border-right: 1px solid var(--QLD-color-dark-border);
        }

        &.qld__data_table__col-1-left-border tr td:nth-child(1),
        &.qld__data_table__col-2-left-border tr td:nth-child(2),
        &.qld__data_table__col-3-left-border tr td:nth-child(3),
        &.qld__data_table__col-4-left-border tr td:nth-child(4),
        &.qld__data_table__col-5-left-border tr td:nth-child(5),
        &.qld__data_table__col-6-left-border tr td:nth-child(6),
        &.qld__data_table__col-7-left-border tr td:nth-child(7),
        &.qld__data_table__col-8-left-border tr td:nth-child(8),
        &.qld__data_table__col-9-left-border tr td:nth-child(9),
        &.qld__data_table__col-10-left-border tr td:nth-child(10) {
            border-left: 1px solid var(--QLD-color-dark-border);
        }

        &.qld__data_table__col-1-right-border tr td:nth-child(1),
        &.qld__data_table__col-2-right-border tr td:nth-child(2),
        &.qld__data_table__col-3-right-border tr td:nth-child(3),
        &.qld__data_table__col-4-right-border tr td:nth-child(4),
        &.qld__data_table__col-5-right-border tr td:nth-child(5),
        &.qld__data_table__col-6-right-border tr td:nth-child(6),
        &.qld__data_table__col-7-right-border tr td:nth-child(7),
        &.qld__data_table__col-8-right-border tr td:nth-child(8),
        &.qld__data_table__col-9-right-border tr td:nth-child(9),
        &.qld__data_table__col-10-right-border tr td:nth-child(10) {
            border-right: 1px solid var(--QLD-color-dark-border);
        }
    }

    // &.qld__data_table--striped {

    //     .qld__data_table__body,
    //     tbody {

    //         .qld__data_table__row:nth-last-child(odd),
    //         tr:nth-last-child(odd) {
    //             background-color: var(--QLD-color-light-background__shade);
    //         }
    //     }

    //     .qld__body--dark &,
    //     .qld__body--dark-alt & {

    //         .qld__data_table__body,
    //         tbody {

    //             .qld__data_table__row:nth-last-child(odd),
    //             tr:nth-last-child(odd) {
    //                 background-color: var(--QLD-color-dark-background__shade);
    //             }
    //         }
    //     }
    // }

    &.qld__data_table--scroll, &.qld__data_table--contained {
        &:not(:first-child) {
          @include QLD-space( margin-top, 1.5unit);
        }
        overflow-x: hidden;
    }

    &.qld__data_table--scroll {
        border: 1px solid var(--QLD-color-light-border);
        border-radius: $QLD-border-radius-sm;
        max-height: 640px;
        /* Max height for mobile devices based on average available screen space on mobile devices */
        overflow-y: auto;
    
        table {
            caption {
                position: sticky;
                top: 0;
                min-height: 78px;
                /* 78px height so it can cater for additional information detailing table order under the caption text */
    
                &+thead {
                    top: 78px;
                }
            }
    
            thead,
            tfoot {
                position: sticky;
            }
    
            thead {
                inset-block-start: 0;
                /* "top" */
                background-color: var(--QLD-color-light-background);
            }
    
            tfoot {
                inset-block-end: 0;
                /* "bottom" */
            }
        }
    
    
        .qld__body--dark &,
        .qld__body--dark-alt & {
            border: 1px solid var(--QLD-color-dark-border);
    
            table {
                thead {
                    text-align: left;
                    background-color: var(--QLD-color-dark-background);
                }
            }
        }
    }
}


.qld__data_table--contained,
.qld__data_table--scroll {
    border-radius: $QLD-border-radius-sm;
}

.qld__data_table--contained {
    width: 100%;
    overflow: auto;
    border: 1px solid var(--QLD-color-light-border);
    overflow-x: hidden;
    .qld__body--dark &,
    .qld__body--dark-alt & {
        border: 1px solid var(--QLD-color-dark-border);
    }
}

// .qld__data_table--wrapper {
//     .container-fluid {
//         .qld__data_table {
//             border-collapse: collapse;
//             border-spacing: 0;        
//             .qld__data_table__caption,
//             caption {
//                 @include QLD-fontgrid(md, heading);
//                 font-weight: bold;
//                 text-align: left;
//                 display: table-caption;
//                 @include QLD-space(padding-bottom, 0.5unit);
//             }
        
//             .qld__data_table__head,
//             thead {
//                 display: table-header-group;
//             }
        
//             .qld__data_table__header,
//             th {
//                 @include QLD-standard-space(padding, 5 4 5 4);
//                 box-shadow: inset 0 0 - var(--QLD-border-width-default) 0 var(--QLD-color-light-designAccent);
//                 color: var(--QLD-color-light-heading);
//                 font-weight: bold;
//                 @include QLD-fontgrid(md, heading);
        
//             }
        
//             .qld__data_table__cell,
//             td {
//                 @include QLD-standard-space(padding, 3);
//                 box-shadow: inset 0 0 - var(--QLD-border-width-thin) 0 var(--QLD-color-light-border);
//             }
        
//             .qld__data_table__row,
//             tr {
//                 display: table-row;
//             }
        
//             //Dark and Alt dark stylesas
//             .qld__body--dark &,
//             .qld__body--dark-alt & {
        
//                 .qld__data_table__header,
//                 th {
//                     color: var(--QLD-color-dark-heading);
//                     box-shadow: inset 0 0 - var(--QLD-border-width-default) 0 var(--QLD-color-dark-border);
//                 }
        
//                 .qld__data_table__cell,
//                 td {
//                     box-shadow: inset 0 0 - var(--QLD-border-width-thin) 0 var(--QLD-color-dark-border);
//                 }
//             }
        
//             &.qld__data_table--striped {
        
//                 .qld__data_table__body,
//                 tbody {
        
//                     .qld__data_table__row:nth-last-child(odd),
//                     tr:nth-last-child(odd) {
//                         background-color: var(--QLD-color-light-background__shade);
//                     }
//                 }
        
//                 //Dark and Alt dark styles
//                 .qld__body--dark &,
//                 .qld__body--dark-alt & {
        
//                     .qld__data_table__body,
//                     tbody {
        
//                         .qld__data_table__row:nth-last-child(odd),
//                         tr:nth-last-child(odd) {
//                             background-color: var(--QLD-color-dark-background__shade);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
