<div id="pagination" class="component" data-component-id="pagination" data-asset-id="123">
</div>
<script src="externals/getPagination.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function (e) {
    var pagination = document.getElementById('pagination');
    var startRank = parseInt(window.location.search.replace(/^.+start_rank=(\\d)/, '$1') || 1, 10);
    var resultsSummary = {
      "fullyMatching": 24,
      "collapsed": 0,
      "partiallyMatching": 0,
      "totalMatching": 24,
      "estimatedCounts": false,
      "carriedOverFtd": null,
      "totalDistinctMatchingUrls": null,
      "numRanks": 3,
      "currStart": startRank,
      "currEnd": startRank + 2,
      "prevStart": Math.max(startRank - 3, 0),
      "nextStart": Math.min(startRank + 3, 24),
      "totalSecurityObscuredUrls": null,
      "anyUrlsPromoted": false,
      "resultDiversificationApplied": true
    };

    if (pagination) {
      pagination.outerHTML = paginationTemplate({ "pagination": getPagination(resultsSummary, '?') });
    }
  });
</script>