//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Accordion
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__accordion {
    border: $QLD-border-width-thin solid $QLD-color-neutral--lighter;
    display: block;
    padding: 0;

    &__title {
        background-color: $QLD-color-neutral--lightest;
        @include QLD-underline("light");
        @include QLD-fontgrid(md, heading);
        @include QLD-space(padding, 1unit 3unit 1unit 1unit);
        width: 100%;
        display: block;
        color: var(--QLD-color-light__link);
        font-weight: normal;
        position: relative;
        border: none;

        // button resets
        box-sizing: border-box;
        margin: 0;
        cursor: pointer;
        text-align: left;
        font-family: inherit;
        @include QLD-focus();

        &:focus {
            z-index: 100;
            outline: 3px solid var(--QLD-color-light__focus);
            outline-offset: 2px;
        }

        // remove the default details arrow icon
        &::-webkit-details-marker {
            display: none;
        }

        .qld__icon {
            color: var(--QLD-color-light__action--secondary);
            position: absolute;
            @include QLD-space(right, 1unit);
            transition: transform 0.25s ease-in;
        }

        &.qld__accordion--closed {
            .qld__icon {
                transform: rotate(-180deg);
            }
        }
    }

    &__body {
        overflow: hidden;

        // only listen to the state classes if js is enabled
        .js & {
            &.qld__accordion--open {
                display: block;
                height: auto;
            }

            &.qld__accordion--closed {
                display: none;
                height: 0;
            }
        }
        & &-wrapper {
            border-top: $QLD-border-width-thin solid $QLD-color-neutral--lighter;
            color: var(--QLD-color-light__text);
            background-color: $QLD-color-neutral--white;
            @include QLD-space(padding, 1unit);

            ul {
                list-style: disc;
                @include QLD-space(margin-left, 1.25unit);
            }
        }
    }

    &__toggle {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: end;
        @include QLD-space(padding, 0.5unit 0);
        @include QLD-space(font-size, 0.75unit);

        &-btn {
            background-color: transparent;
            color: var(--QLD-color-light__link);
            border: none;
            cursor: pointer;
            position: relative;

            &-text {
                @include QLD-underline("light");
                @include QLD-space(margin-right, 0.25unit);
            }

            .qld__icon {
                color: var(--QLD-color-light__action--secondary);
                transition: transform 0.25s ease-in;
                width: 0.65rem;
                height: 0.65rem;
            }

            &--closed {
                .qld__icon {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    // Add spacing if there is an element before it
    * + & {
        @include QLD-space(margin-top, 1unit);
    }

    + .qld__accordion {
        @include QLD-space(border-top, solid var(--QLD-color-light__border) 0.0625unit);
    }
}

.qld__body--dark,
.qld__body--dark-alt {
    .qld__accordion {
        &__title {
            &:focus {
                outline: 3px solid var(--QLD-color-dark__focus);
                outline-offset: 2px;
            }
        }
    }
}

.qld__accordion-group {
    list-style: none;
    padding: 0;
    @include QLD-space(max-width, 47unit);

    &:last-child {
        @include QLD-space(margin-bottom, 0unit);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .qld__accordion__toggle-btn {
        .qld__body--dark &,
        .qld__body--dark-alt & {
            &-text {
                color: var(--QLD-color-dark__link);
                @include QLD-underline("dark");
            }

            .qld__icon {
                color: var(--QLD-color-dark__action--secondary);
            }
        }
    }

    &--light {
        .qld__accordion {
            border-color: var(--QLD-color-light__border);
        }

        .qld__accordion__title {
            background-color: var(--QLD-color-light__background--shade);
        }

        .qld__accordion__body-wrapper {
            background-color: var(--QLD-color-light__background);
            border-color: var(--QLD-color-light__border);
        }
    }

    &--alt {
        .qld__accordion {
            border-color: var(--QLD-color-light__border--alt);
        }

        .qld__accordion__title {
            background-color: var(--QLD-color-light__background--alt-shade);
        }

        .qld__accordion__body-wrapper {
            background-color: var(--QLD-color-light__background--alt);
            border-color: var(--QLD-color-light__border--alt);
        }
    }

    &--dark {
        .qld__accordion {
            border-color: var(--QLD-color-dark__border);
        }

        .qld__accordion__title {
            @include QLD-underline("dark");
            background-color: var(--QLD-color-dark__background--shade);
            color: var(--QLD-color-dark__link);
        }

        .qld__accordion__body-wrapper {
            background-color: var(--QLD-color-dark__background);
            border-color: var(--QLD-color-dark__border);
            color: var(--QLD-color-dark__text);
        }
    }

    &--dark-alt {
        .qld__accordion {
            border-color: var(--QLD-color-dark__border--alt);
        }

        .qld__accordion__title {
            @include QLD-underline("dark");
            background-color: var(--QLD-color-dark__background--alt-shade);
            color: var(--QLD-color-dark__link);
        }

        .qld__accordion__body-wrapper {
            background-color: var(--QLD-color-dark__background--alt);
            border-color: var(--QLD-color-dark__border--alt);
            color: var(--QLD-color-dark__text);
        }
    }

    &--dark,
    &--dark-alt {
        .qld__icon {
            color: var(--QLD-color-dark__action--secondary);
        }

        .qld__accordion__toggle-btn {
            color: var(--QLD-color-dark__link);
        }

        .qld__accordion__body-wrapper {
            color: var(--QLD-color-dark__text);

            a {
                color: var(--QLD-color-dark__link);
                @include QLD-underline("dark");
            }
        }
    }
}

.qld__accordion + .qld__accordion {
    margin-top: 0;
    border-top: 0;
}

li + li .qld__accordion {
    border-top: none;
}

@media print {
    .qld__accordion {
        border-color: #000 !important;
        color: #000 !important;
    }

    .qld__accordion__toggle-btn {
        display: none;
    }

    .qld__accordion__title {
        background: #fff !important;
        color: #000 !important;
        border: 1px !important;

        .qld__icon {
            display: none;
        }
    }

    .qld__accordion__body-wrapper {
        border-color: #000 !important;
    }

    .qld__accordion__body {
        height: auto !important;
        display: block !important;
    }
}
