{{#with component.data}}
<section class="qld__body qld__video-player-v2--wrapper
{{#ifCond metadata.body_background.value '==' 'light'}}qld__body--light{{/ifCond}}
        {{#ifCond metadata.body_background.value '==' 'alt'}}qld__body--alt{{/ifCond}} 
        {{#ifCond metadata.body_background.value '==' 'dark'}}qld__body--dark{{/ifCond}} 
        {{#ifCond metadata.body_background.value '==' 'dark-alt'}}qld__body--dark-alt{{/ifCond}}">
        <div class="container-fluid">
            <div class="row">
                {{#ifCond metadata.layout.value '==' 'stack'}}
                <div class="col-xs-12">
                    <{{metadata.heading_type.value}}>{{metadata.heading.value}}</{{metadata.heading_type.value}}>
                    <div class="qld__abstract">{{metadata.intro.value}}</div>
                </div>
                {{/ifCond}}
            </div>
        </div>
   
</section>
{{/with}}