//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// {{component_name}}
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__services_a-z {
	
    .qld__services_a-z__header {

        @include QLD-media(lg) {
            max-width: 60%;
        }

        .qld__services_a-z__header__intro {
            font-size: pxToRem(16); 
            line-height: pxToRem(24);

            @include QLD-media(md) {
                font-size: pxToRem(24);
                line-height: pxToRem(32);  
            }
        }
    }

    .qld__services_a-z__options {
        @include sq-list-reset;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        @include QLD-space(margin, 32px 0);

        .qld__services_a-z__options__item {
            @include QLD-space(margin, 0 12px 12px 0);

            a {
                display: inline-block;
                @include QLD-space(width, 32px);
                @include QLD-space(height, 32px);
                line-height: 1.82;
                text-align: center;
                color: var(--QLD-color-light-link);
                border: 1px solid var(--QLD-color-light-border);
                @include sq-border-radius(3px);
                text-transform: uppercase;
                text-decoration: none;

                &:not(:disabled) {
                    &:hover{
                        border-color: var(--QLD-color-dark-alt-button);
                        border-width: 2px;
                        line-height: 1.72;
                    }
                }

                &.active, &:active, &:focus {
                    color: var(--QLD-color-dark-text);
                    background-color: var(--QLD-color-dark-background);
                }
            }
        }
    }

    .qld__services_a-z__list {
        @include sq-list-reset;
        display: flex;
        flex-direction: column;

        .qld__services_a-z__list__item__header {
            font-size: pxToRem(50);
            @include QLD-space(margin, 24px 0 24px);
            text-transform: uppercase;
            line-height: 1.5;

            @include QLD-media(md) {
                @include QLD-space(margin, 32px 0 32px);
            }

            &:first-of-type {
                @include QLD-space(margin-top, 0);
            }

            span {
                display: inline-block;
                border: 1px solid var(--QLD-color-light-border);
                text-align: center;
                @include sq-border-radius(4px);
                width: pxToRem(78);
                height: pxToRem(78);
                background-color: var(--QLD-color-light-alt-background);
            }

            &.active {
                span {
                    color: var(--QLD-color-dark-text);
                    background-color: var(--QLD-color-dark-background);
                }
            }
        }

        .qld__services_a-z__list__item__services {
            list-style: none;
            padding: 0;
            flex-direction: column;

            @include QLD-media(md) {
                flex-direction: row;
                @include QLD-space(margin-bottom, 4px);

                &:last-of-type {
                    @include QLD-space(margin-bottom, 0);
                }
            }


            .qld__services_a-z__list__item__services__item {
                

                .qld__services_a-z__list__item__services__item__link {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    line-height: pxToRem(16);
                    @include QLD-space(padding, 20px 0);
                    border-top: 1px solid var(--QLD-color-light-alt-background__shade);

                    svg {
                        align-self: center;
                        color: var(--QLD-color-light-alt-button);
                        @include QLD-space(margin, 0 15px 0 20px);
                    }

                    &:hover {
                        svg {
                            color: var(--QLD-color-light-alt-button__hover);
                        }
                    }
                }
            }
        }
    }
}

.qld__body .qld__services_a-z ul {
    max-width: none;
}