<!-- Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Imports -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto+Mono&display=swap" rel="stylesheet"/> -->
<link href='https://fonts.googleapis.com/css?family=Noto Sans:wght@300;400;600;900&display=swap' rel='stylesheet'>
<link rel="stylesheet" href="https://use.typekit.net/fse2tsb.css" />
<!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->

<script id="globals-loader" data-current='${JSON.stringify(require("/src/data/current.json"))}' data-site='${JSON.stringify(require("/src/data/site.json"))}'>
    var current = JSON.parse(document.getElementById('globals-loader').getAttribute('data-current'));
    var site = JSON.parse(document.getElementById('globals-loader').getAttribute('data-site'));
    var userData = { "superAdmin": false, "hhsGroup": "darling-downs" }
</script>

<style>

.qld__grid {
        /* --QLD-color-light__site-title: #133653 ;
        --QLD-color-light__design-accent:#6BBE27; 
        --QLD-color-light__heading: #04284C ;
        --QLD-color-light__text: #414141 ;
        --QLD-color-light__text--lighter: #636363 ;
        --QLD-color-light__link: #09549F ;
        --QLD-color-light__link--visited: #551A8B ;
        --QLD-color-light__link--on-action: #FFFFFF ;
        --QLD-color-light__action--primary: #4469A8 ;
        --QLD-color-light__action--primary-hover: #375675 ;
        --QLD-color-light__focus: #0085B3 ;
        --QLD-color-light__border: #EBEBEB ;
        --QLD-color-light__background: #FFFFFF ;
        --QLD-color-light__background--shade: #F8F9F9 ;
        

        --QLD-color-light__action--secondary: #008635 ;
        --QLD-color-light__action--secondary-hover: #005B23 ;
        --QLD-color-light__border--alt: #61748B ; 
        --QLD-color-light__background--alt: #EDF1F2 ;
        --QLD-color-light__background--alt-shade: #E3EAEC ;
        

        --QLD-color-dark__site-title: #FFFFFF ;
        --QLD-color-dark__design-accent: #D2624A ;
        --QLD-color-dark__heading: #FFFFFF ;
        --QLD-color-dark__text: #FFFFFF ;
        --QLD-color-dark__text--lighter: #E2EDFB ;
        --QLD-color-dark__link: #FFFFFF ;
        --QLD-color-dark__link--visited: #E1BBEE ;
        --QLD-color-dark__link--on-action: #FFFFFF ;
        --QLD-color-dark__action--primary: #218291 ;
        --QLD-color-dark__action--primary-hover: #517A7F ;
        --QLD-color-dark__focus: #52AF9F ;
        --QLD-color-dark__border: #5687B5 ;
        --QLD-color-dark__background: #132D4E ;
        --QLD-color-dark__background--shade: #0A2343 ;

        --QLD-color-dark__action--secondary: #D2834A ;
        --QLD-color-dark__action--secondary-hover: #FA954C ;
        --QLD-color-dark__border--alt: #5279A9 ;
        --QLD-color-dark__background--alt: #061B37 ;
        --QLD-color-dark__background--alt-shade: #041122 ; */
}

</style>