// Import all core styles
@import "./core-styles.scss";

// Component SCSS imports as globs
@import "../components/_global/css/*/**.scss";
@import "../components/_global/css/*/*/**.scss";
@import "../components/*/css/**.scss";
