//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Pagination
//--------------------------------------------------------------------------

.qld__search-pagination {
    ul {
        @include sq-list-reset;
        display: flex;
        flex-wrap: wrap;

        li {
            @include QLD-space(margin, 0.5unit 0.75unit 0.5unit 0);

            &.ellipsis,
            &.first,
            &.last {
                display: none;

                @include QLD-media(md) {
                    display: block;
                }
            }

            button:focus {
                outline: 3px solid var(--QLD-color-light__focus);
                outline-offset: 2px;
            }

            &.active a,
            &.active button {
                background-color: var(--QLD-color-light__action--primary);
                box-shadow: inset 0 0 0 $QLD-border-width-thin var(--QLD-color-light__action--primary);
                color: var(--QLD-color-light__link--on-action);
                font-weight: $QLD-font-weight-bold;

                &:hover {
                    background-color: var(--QLD-color-light__action--primary-hover);
                    color: var(--QLD-color-light__link--on-action);
                    box-shadow: inset 0 0 0 $QLD-border-width-default var(--QLD-color-light__action--primary-hover);
                    @include QLD-box-shadow(1);
                }

                &:active,
                &:focus {
                    background-color: var(--QLD-color-light__action--primary-hover);
                    color: var(--QLD-color-light__link--on-action);
                    box-shadow: inset 0 0 0 $QLD-border-width-thin var(--QLD-color-light__action--primary-hover);
                    outline: 3px solid var(--QLD-color-light__focus);
                    outline-offset: 2px;
                }
            }

            &.next,
            &.prev {
                @include QLD-underline("light", "noUnderline");
            }

            &.next,
            &.prev,
            &.ellipsis {
                a,
                button {
                    box-shadow: none;
                    @include QLD-media(lg) {
                        width: auto;
                    }

                    &:hover span {
                        text-decoration-thickness: var(--QLD-underline__thickness-thick);
                        text-decoration: underline;
                    }

                    &:active,
                    &:focus {
                        text-decoration: underline;
                    }
                }

                span {
                    @include QLD-sronly();
                    @include QLD-media(lg) {
                        position: relative;
                        width: auto;
                        height: auto;
                        overflow: initial;
                    }
                }
            }

            @include QLD-media(lg) {
                &.next span {
                    @include QLD-space(margin-right, 0.5unit);
                }
                &.prev span {
                    @include QLD-space(margin-left, 0.5unit);
                }
            }

            &.ellipsis svg {
                vertical-align: middle;
            }
        }

        .mid,
        .num {
            a,
            button {
                &:active,
                &:focus {
                    background-color: transparent;
                    box-shadow: inset 0 0 0 $QLD-border-width-default var(--QLD-color-light__action--secondary);
                }
            }
        }

        a,
        button {
            text-decoration: none;
            @include QLD-space(height, 2unit);
            @include QLD-space(min-width, 2unit);
            @include QLD-space(padding, 0 0.625unit);
            align-items: center;
            background-color: transparent;
            border-radius: $QLD-border-radius-xs;
            color: var(--QLD-color-light__link);
            background-color: $QLD-color-neutral--white;
            display: inline-flex;
            justify-content: center;
            @include QLD-space(line-height, 1.25unit);
            box-shadow: inset 0 0 0 $QLD-border-width-thin $QLD-color-light__border--alt;
            border: none;
            cursor: pointer;

            &:hover {
                color: var(--QLD-color-light__link);
                outline: none;
                text-decoration: none;
                box-shadow: inset 0 0 0 $QLD-border-width-default var(--QLD-color-light__action--secondary);
            }

            &:visited {
                color: var(--QLD-color-light__link);
            }

            &[rel] {
                color: var(--QLD-color-light__action--secondary);
            }

            &[rel]:hover {
                color: var(--QLD-color-light__action--secondary-hover);
            }
        }

        span {
            @include QLD-space(height, 2unit);
            @include QLD-space(width, 2unit);
            align-items: center;
            color: var(--QLD-color-light__action--primary);
            display: inline-flex;
            justify-content: center;
        }
    }

    .qld__body--dark & ul.qld__search-pagination__list {
        li {
            & button {
                outline: 3px solid var(--QLD-color-light__focus);
                outline-offset: 2px;
            }

            &.active a,
            &.active button {
                background-color: var(--QLD-color-dark__action--primary);
                box-shadow: inset 0 0 0 1px var(--QLD-color-dark__action--primary);
                color: var(--QLD-color-dark__link--on-action);

                &:hover {
                    background-color: var(--QLD-color-dark__action--primary-hover);
                    box-shadow: inset 0 0 0 $QLD-border-width-default var(--QLD-color-dark__action--primary-hover);
                    color: var(--QLD-color-dark__link--on-action);
                }

                &:active,
                &:focus {
                    @include QLD-focus("dark");
                    background-color: var(--QLD-color-dark__action--primary-hover);
                    box-shadow: inset 0 0 0 $QLD-border-width-thin var(--QLD-color-dark__action--primary-hover) !important;
                    color: var(--QLD-color-dark__link--on-action);
                }
            }

            &.next,
            &.prev,
            &.ellipsis {
                a,
                button {
                    box-shadow: none;

                    &:hover {
                        box-shadow: none;
                        color: var(--QLD-color-dark__link);

                        span {
                            text-decoration-thickness: var(--QLD-underline__thickness-thick);
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.mid,
            &.num,
            &.last,
            &.first {
                a,
                button {
                    &:active,
                    &:focus {
                        color: var(--QLD-color-dark__link);
                        box-shadow: inset 0 0 0 $QLD-border-width-default var(--QLD-color-dark__action--secondary-hover);
                    }

                    &:visited {
                        color: var(--QLD-color-dark__link);
                    }
                }
            }

            &.active a:focus,
            &.active button:focus {
                color: var(--QLD-color-dark__link--on-action);
            }

            &.active a:visited,
            &.active button:visited {
                color: var(--QLD-color-dark__link--on-action);
            }
        }

        &:not(.prev, .next) a,
        &:not(.prev, .next) button {
            box-shadow: inset 0 0 0 $QLD-border-width-thin var(--QLD-color-dark__border--alt);
        }

        li.prev,
        li.next {
            a,
            button {
                text-decoration: none;

                span {
                    color: var(--QLD-color-dark__link);
                    text-decoration: underline;
                    text-decoration-color: var(--QLD-color-dark__underline);
                    text-decoration-thickness: var(--QLD-underline__thickness-thin);
                }

                &:focus span,
                &:hover span {
                    text-decoration-color: var(--QLD-color-dark__link);
                    text-decoration-thickness: var(--QLD-underline__thickness-thick);
                }
            }
        }

        a,
        button {
            background-color: transparent;
            text-decoration: none;

            &:hover {
                color: var(--QLD-color-dark__link);
                box-shadow: inset 0 0 0 $QLD-border-width-default var(--QLD-color-dark__action--secondary-hover);
                text-decoration: none;
            }

            &[rel] {
                color: var(--QLD-color-dark__action--secondary);
            }

            &[rel]:hover {
                color: var(--QLD-color-dark__action--secondary-hover);
            }
        }

        span {
            color: var(--QLD-color-dark__link);
        }
    }
}
