<section id="banner-advanced-121030"
    class="qld__banner qld__banner__advanced qld__banner--has-hero qld__banner--hero-right">
    <style>
        @media (min-width:1312px) {
            section#banner-advanced-121030 {
                min-height: auto;
            }

            section#banner-advanced-121030>.container-fluid {
                max-width: 106rem;
                position: relative;
            }

            .qld__main-nav>.container-fluid {
                max-width: 106rem;
                position: relative;
                border-bottom: none;
                background-color: transparent;
            }

            .qld__main-nav>.container-fluid>.qld__main-nav__content {
                border-bottom: 4px solid var(--QLD-color-light__design-accent);
                background-color: $QLD-color-neutral--lightest;
                padding-left: 12rem;
                padding-right: 12rem;
                border-radius: 2rem 2rem 0 0;
                margin-left: -3rem;
                margin-right: -3rem;
            }

            .qld__main-nav {
                border: none;
                background-color: transparent !important;
            }

            section#banner-advanced-121030>.container-fluid>.qld__banner__wrapper {
                border-radius: 0 0 2rem 2rem;
                padding-left: 3rem;
                padding-right: 3rem;
                margin-left: -3rem;
                margin-right: -3rem;
            }

            section#banner-advanced-121030>.container-fluid>.qld__banner__wrapper>.qld__banner__main {
                padding-left: 5rem;
                padding-right: 4rem;
            }

            .qld__banner__content,
            .qld__card-list.qld__card-list--matchheight.qld__banner__card-list {
                width: 100% !important;
            }

            div.centralised-content {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            div.margin-top-2rem {
                margin-top: 2rem;
            }
        }

        @media (min-width:991px) {}

        @media (min-width:1312px) {}
    </style>
    <div class="container-fluid">
        <div class="qld__banner__wrapper qld__banner--dark-alt qld__body--dark-alt">
            <div class="qld__banner__main row">
                <div class="qld__banner__content margin-top-2rem col-xs-12">
                    <div class="centralised-content margin-top-2rem col-xs-12">
                        <h1>Find the right job</h1>
                    </div>
                    <ul class="qld__card-list qld__card-list--matchheight qld__banner__card-list">
                        <li class="col-xs-6" style="padding: 1rem">
                            <div class="sq-form-question-answer" style="width: 100%;">
                                <input type="text"
                                    style="width: 100%;" placeholder="Job title or keyword" name="q83209:q1" value=""
                                    size="30" id="q83209_q1" class="sq-form-field" />
                                </div>
                        </li>
                        <li class="col-xs-6" style="padding: 1rem">
                            <div class="sq-form-question-answer" style="width: 100%; display: flex; align-items: center;">
                                    <input type="text"
                                        style="flex: 1; min-width: 1rem; border-top-right-radius: 0; border-bottom-right-radius: 0;" placeholder="Location" name="q83209:q1" value="" size="30"
                                        id="q83209_q2" class="sq-form-field" 
                                    />

                                    <div class="qld__search__btn">
                                        <button style="border-top-left-radius: 0; border-bottom-left-radius: 0;" class="qld__btn qld__btn--search" type="submit" aria-label="Search">
                                            <span class="qld__btn__icon"></span>
                                            <span class="qld__btn__text">Search</span>
                                        </button>
                                    </div>
                                </div>
                        </li>
                    </ul>
                    <div class="centralised-content margin-top-2rem col-xs-12">
                        <h5 style="color: white;">
                            Popular searches
                        </h5>
                    </div>
                    <div class="centralised-content col-xs-12">
                        <ul class="qld__tag-list">
                            <li>
                                <a href="https://www.sunshinecoast.health.qld.gov.au/about-us/news?tag=dental_health" class="qld__tag qld__tag--link" tabindex="0">Linked</a>
                            </li>
                            <li>
                                <a href="https://www.sunshinecoast.health.qld.gov.au/about-us/news?tag=staff" class="qld__tag qld__tag--link" tabindex="0">Linked</a>
                            </li>
                            <li>
                                <a href="https://www.sunshinecoast.health.qld.gov.au/about-us/news?tag=dental_health" class="qld__tag qld__tag--link" tabindex="0">Linked</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>