//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// {{component_name}}
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__[component_name] {

    //Alternate theme
    &--alt{

    }

    //Dark theme
    &--dark{

    }

    //Dark theme
    &--dark-alt{

    }
	
}