/*
 * Mobile layout
 */

body {
    z-index: 1;
}

.qld__table__attributes {
    font-size:0.9em;

    .qld__model_field {
        width:100%;
    }
    textarea {
        height:100px;
    }
}

/* Default text size overrides */

.qld__default--xs {
    font-size: var(--QLD-default-mobile-xs) !important;
}

.qld__default--sm {
    font-size: var(--QLD-default-mobile-sm) !important;
}

.qld__default--md {
    font-size: var(--QLD-default-mobile-md) !important;
}

.qld__default--lg {
    font-size: var(--QLD-default-mobile-lg) !important;
}

.qld__default--xl {
    font-size: var(--QLD-default-mobile-xl) !important;
    ;
}

.qld__default--xxl {
    font-size: var(--QLD-default-mobile-xx) !important;
}

.qld__default--xxxl {
    font-size: var(--QLD-default-mobile-xxxl) !important;
}


/* Desktop sizes for default text style overrides */

@media (min-width: 992px) {

    .qld__default--xs {
        font-size: var(--QLD-default-desktop-xs) !important;
    }

    .qld__default--sm {
        font-size: var(--QLD-default-desktop-sm) !important;
    }

    .qld__default--md {
        font-size: var(--QLD-default-desktop-md) !important;
    }

    .qld__default--lg {
        font-size: var(--QLD-default-desktop-lg) !important;
    }

    .qld__default--xl {
        font-size: var(--QLD-default-desktop-xl) !important;
        ;
    }

    .qld__default--xxl {
        font-size: var(--QLD-default-desktop-xxl) !important;
    }

    .qld__default--xxxl {
        font-size: var(--QLD-default-desktop-xxxl) !important;
    }
}

/* Default text size overrides */


/*
 * Tablet layout
 */

@media screen and (min-width: md){
    body {
        z-index: 2;
    }
}


/*
 * Desktop layout
 */

@media screen and (min-width: lg){
    body {
        z-index: 3;
    }
}
