/*
 * Mobile layout
 */

body {
    z-index: 1;
}

.qld__table__attributes {
    font-size:0.9em;

    .qld__model_field {
        width:100%;
    }
    textarea {
        height:100px;
    }
}

/* Default text size overrides */

.qld__default--xs {
    font-size: var(--QLD-font-size-mobile-xs) ;
}

.qld__default--sm {
    font-size: var(--QLD-font-size-mobile-sm);
}

.qld__default--md {
    font-size: var(--QLD-font-size-mobile-md);
}

.qld__default--lg {
    font-size: var(--QLD-font-size-mobile-lg);
}

.qld__default--xl {
    font-size: var(--QLD-font-size-mobile-xl);
    ;
}

.qld__default--xxl {
    font-size: var(--QLD-font-size-mobile-xx);
}

.qld__default--xxxl {
    font-size: var(--QLD-font-size-mobile-xxxl);
}


/* Desktop sizes for default text style overrides */

@media (min-width: 992px) {

    .qld__default--xs {
        font-size: var(--QLD-font-size-desktop-xs);
    }

    .qld__default--sm {
        font-size: var(--QLD-font-size-desktop-sm);
    }

    .qld__default--md {
        font-size: var(--QLD-font-size-desktop-md);
    }

    .qld__default--lg {
        font-size: var(--QLD-font-size-desktop-lg);
    }

    .qld__default--xl {
        font-size: var(--QLD-font-size-desktop-xl);
        ;
    }

    .qld__default--xxl {
        font-size: var(--QLD-font-size-desktop-xxl);
    }

    .qld__default--xxxl {
        font-size: var(--QLD-font-size-desktop-xxxl);
    }
}

/* Default text size overrides */


/*
 * Tablet layout
 */

@media screen and (min-width: md){
    body {
        z-index: 2;
    }
}


/*
 * Desktop layout
 */

@media screen and (min-width: lg){
    body {
        z-index: 3;
    }
}
