/*
 * Mobile layout
 */

body {
    z-index: 1;
}

.qld__table__attributes {
    font-size: 0.9em;

    .qld__model_field {
        width: 100%;
    }

    textarea {
        height: 100px;
    }
}

/*
 * Tablet layout
 */

@media screen and (min-width: md) {
    body {
        z-index: 2;
    }
}


/*
 * Desktop layout
 */

@media screen and (min-width: lg) {
    body {
        z-index: 3;
    }
}

[class*="--dark-alt"],
[class*="--dark"] {
    ::selection {
        // color: var(--QLD-color-light__text) !important;
        // background-color: var(--QLD-color-light__background) !important;
        // opacity: 0.99;
        color: purple !important;
        background-color: red !important;
        opacity: 0.99;
        // Why RGBA 0.99? https://stackoverflow.com/a/7224621
    }
}

[class*="--light"],
[class*="--alt"] {
    ::selection {
        // color: var(--QLD-color-dark__text) !important;
        // background-color: var(--QLD-color-dark__background) !important;
        // opacity: 0.99;
        color: indigo !important;
        background-color: cyan !important;
        opacity: 0.99;
        // Why RGBA 0.99? https://stackoverflow.com/a/7224621
    }
}