.qld__banner_contained {

    /* Some elements need to be set to position relative so that that components and backgrounds sit on the stack in the correct order */

    .content {
      position: relative;
      /*Needed so content sits properly on the stack*/
  }

  // #content {
  //     position: relative;
  //     /*Needed so content sits properly on the stack*/
  // }

  main {
      position: relative;
  }

  .qld__footer {
      position: relative;
      /*Needed so content sits properly on the stack*/
  }

/* --------------------------------------------------*/


/* This set the max with for the banner and primary nav  */

.qld__main-nav {
 
  /*max size for the navigation component*/
  max-width: 100rem; /* 1600px */
  /*keeps nav in center */
  margin: auto;
 
}

.qld__banner {

  /*max size for the banner component*/
  max-width: 100rem; /* 1600px */
  
  /*keeps banner in center */
  margin: auto;

  /* Adds shadow to banner */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  
}

/* --------------------------------------------------*/

 /* Z indext helps ensure the mega menu and the back to top button sit above the banner */

 /*Needed so megamenu sits abvoe banner */
.qld__main-nav.qld__main-nav--mega .qld__main-nav__menu-sub {
  z-index: 500; /*These should be variables */
  
}

/* ensures back-to top button stays above content */
body a.qld__btn.qld__btn--floating.qld__btn--back-to-top {
  z-index: 1000; /*These should be variables */
  
}

/* --------------------------------------------------*/

/* Better alignment for hero image in contained style */

@media (min-width: 1312px) {
    
  .qld__promo-panel.qld__body--full-image.qld__promo-panel--image-right
    .qld__promo-panel__container {
    padding-left: 0px;
  }

  .qld__banner.qld__banner--hero-right .qld__banner__image {
    max-width: 45vw;
    width: 45vw;
  }
}

/* --------------------------------------------------*/

/* The curved banner only gets applied at 1600px */

@media (min-width: 1600px) {

  /*  This applies a background to the whole top of the header */

    .qld__header::before {
        width: 100%;
        content: " ";
        position: absolute;
        height: 100%;
    
        /* img or colour set by user */
        background-color: #D7ECF2;
        // background-image: url('/?a=190085');
    
        /* These settings should be able to be changed by user */
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;    
        }

    .qld__header__main {
        background: transparent;
        /* removes current header background */
        position: relative;
      }

    /* Better alignment for hero image in contained style (this may requite some more experimentation to achieve best result */
    .qld__banner.qld__banner--hero-right .qld__banner__image {
      max-width: 620px;
      width: 45vw;
    }

    .qld__main-nav {
      /* Curved edges for nav*/  
      border-radius: 48px 48px 0px 0px; /* Should be variable */
      /* Shadow for nav*/  
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    }

    .qld__banner {
      /* Curved edges for banner*/
      border-radius: 0px 0px 48px 48px; /* Should be variable */
      /* Makes sure banner sits in the correct stack position */  
      z-index: 200;
    }

    /* The following code adds more padding to the succeeding section and pulls the div below the banner to sit under it slightly creating the overlap */
    /* The overlap is the trickiest part and needs to be checked on all page types and background colours this code is just set to work for standard white background */


    /* Next div */
    .qld__banner + div.qld__body {
      margin-top: -64px;
      padding-top: 128px;
    }

    /* Content pages (this needs to be updated tp work for all coloured backgrounds) */
    .qld__banner + #content {
      background-color: var(--QLD-color-light-background);
      padding-top: 64px;
      margin-top: -64px;
    }
    
    /* Search pages */
    .qld__banner + .qld__body.qld__search {
      position: relative;
      margin-top: -64px;
      padding-top: 124px;
    }
    
    // Body breadcrumbs 
    // Body breadcrumbs 
    .qld__body--breadcrumb{
      padding-bottom: 32px;
      padding-top: 32px;
      max-width: 100rem;
      margin: 0 auto 2px;
      border-radius: 0 0 48px 48px;
      box-shadow: 0px 1px 2px rgba(0,0,0,.3), 0px 2px 6px 2px rgba(0,0,0,.15);
      position: relative;
      z-index: 200;
    }

    .qld__tab-section{
      margin-top: 100px;
    }

  }
}