<!-- Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Imports -->
<link href='https://fonts.googleapis.com/css?family=Noto Sans:wght@300;400;600;900&display=swap' rel='stylesheet'>
<link rel="stylesheet" href="https://use.typekit.net/fse2tsb.css" />

<!-- <script id="globals-loader" data-current='${JSON.stringify(require("/src/data/current.json"))}' data-site='${JSON.stringify(require("/src/data/site.json"))}'>
    var current = JSON.parse(document.getElementById('globals-loader').getAttribute('data-current'));
    var site = JSON.parse(document.getElementById('globals-loader').getAttribute('data-site'));
    var userData = { "superAdmin": false, "hhsGroup": "darling-downs" }
</script> -->

<style>

.qld__grid {
        /* --QLD-color-light-siteTitle: #133653 ;
        --QLD-color-light-designAccent:#D2624A; 
        --QLD-color-light-heading: #12364F ;
        --QLD-color-light-text: #333333 ;
        --QLD-color-light-text__muted: #636363 ;
        --QLD-color-light-link: #4469A8 ;
        --QLD-color-light-link__visited: #375675 ;
        --QLD-color-light-button__text: #FFFFFF ;
        --QLD-color-light-button: #4469A8 ;
        --QLD-color-light-button__hover: #375675 ;
        --QLD-color-light-focus: #428F82 ;
        --QLD-color-light-border: #EBEBEB ;
        --QLD-color-light-background: #FFFFFF ;
        --QLD-color-light-background__shade: #F8F9F9 ;
        

        --QLD-color-light-alt-button: #218291 ;
        --QLD-color-light-alt-button__hover: #375675 ;
        --QLD-color-light-alt-border: #61748B ; 
        --QLD-color-light-alt-background: #EDF1F2 ;
        --QLD-color-light-alt-background__shade: #E3EAEC ;
        

        --QLD-color-dark-siteTitle: #FFFFFF ;
        --QLD-color-dark-designAccent: #D2624A ;
        --QLD-color-dark-heading: #FFFFFF ;
        --QLD-color-dark-text: #FFFFFF ;
        --QLD-color-dark-text__muted: #E2EDFB ;
        --QLD-color-dark-link: #FFFFFF ;
        --QLD-color-dark-link__visited: #E2EDFB ;
        --QLD-color-dark-button__text: #FFFFFF ;
        --QLD-color-dark-button: #218291 ;
        --QLD-color-dark-button__hover: #517A7F ;
        --QLD-color-dark-focus: #52AF9F ;
        --QLD-color-dark-border: #5687B5 ;
        --QLD-color-dark-background: #132D4E ;
        --QLD-color-dark-background__shade: #0A2343 ;

        --QLD-color-dark-alt-button: #D2834A ;
        --QLD-color-dark-alt-button__hover: #FA954C ;
        --QLD-color-dark-alt-border: #5279A9 ;
        --QLD-color-dark-alt-background: #061B37 ;
        --QLD-color-dark-alt-background__shade: #041122 ; */
}

</style>