{{#with component.data}}
<form role="search" aria-label="sitewide" class="qld__search {{metadata.background.value}} {{metadata.responsive.value}} {{metadata.width.value}}" action="{{#if metadata.search_page.value}}./?a={{metadata.search_page.value}}{{/if}}">
    <label for="query-{{assetid}}" class="qld__search__label">{{metadata.search_label.value}}</label>
    <input type="search" id="query-{{assetid}}" name="{{metadata.query_key.value}}" class="qld__text-input">
    <div class="qld__search__btn">
        <button class="qld__btn" type="submit">
            <span class="qld__search__submit-btn-text">Search</span>
        </button>
    </div>
</form>
{{/with}}