//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Control inputs - Checkbox or Radio
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


//Custom checkbox - hides the native checkbox
input[type='checkbox'],
.sq-form-field[type='checkbox'],
.sq-form-question-tickbox-list input{
	@extend .sr-only;

	+ label {
		cursor: pointer;
		position: relative;
		vertical-align: bottom;
		@include QLD-space(line-height, 2unit);
		@include QLD-space(padding-left, 2.5unit);
		font-weight: 400;

		&:before,
		&:after {
			@include QLD-space(width, 2unit);
			@include QLD-space(height, 2unit);
			visibility: visible;
			content: ' ';
			display: block;
			position: absolute;
			box-sizing: border-box;
			background-repeat: no-repeat;
			z-index: 9;
			@include QLD-space(left, 0unit);
			border: $QLD-border-width-default solid transparent;
			top: 0;

			.qld__control-input--small & {
				@include QLD-space( width, 1.25unit );
				@include QLD-space( height, 1.25unit );
			}
		}
		&:before {
			background-color: transparent;
			border-color: var(--QLD-color-light__border--alt);
			background-image: none !important;


		}

		&:after {
			z-index: 101;


		}
	}

	.qld__control-input--small &{
		+ label {
			line-height: 20px;
		}
	}

	// hover
	&:hover:not([disabled]) {
		+ label:before {
			background-color: var(--QLD-color-neutral--lightest);
		}
	}

	// normal checked
	&:checked {
		+ label:after {
			@include QLD-getControlShape( 'checkbox', 'foreground', var(--QLD-color-light__text)  );
			background-size: 30px;
		}
	}

	// Focus
	&:focus + label:before, &.qld__input--valid:focus + label:before, &.qld__input--error:focus + label:before {
		box-shadow: none;
		@include QLD-outline();
		outline-offset: 2px;
	}

	// disabled
	&:disabled {

		+ label:before {
			opacity: 0.3;
			background-color: rgba(0, 0, 0, 0.2);
		}

		+ label {
			color: var(--QLD-color-light__text--lighter);
			cursor: not-allowed;
		}

		&:checked + label:after {
			opacity: 0.5; //amir
			@include QLD-getControlShape( 'checkbox', 'foreground', var(--QLD-color-light__text--lighter) );
		}
	}

	&.qld__input--valid{
		+ label:before {
			box-shadow: 0 0 0 3px var(--QLD-color-status__success);
			border-color: var(--QLD-color-light__text);
		}
	}

	&.qld__input--error{
		+ label:before {
			box-shadow: 0 0 0 3px var(--QLD-color-status__error);
			border-color: var(--QLD-color-light__text);
		}
	}

	.qld__body--dark &,
	.qld__body--dark-alt & {

		+ label:before {
			// background-color: transparent;
			border-color: var(--QLD-color-dark__heading);
			background-image: none !important;
		}

		// hover
		&:hover {
			+ label:before {
				background-color: var(--QLD-color-dark__background--shade);
			}
		}

		// normal checked
		&:checked {
			+ label:after {
				@include QLD-getControlShape( 'checkbox', 'foreground', var(--QLD-color-light__background)  );
			}
		}

		// Focus
		&:focus + label:before, &.qld__input--valid:focus + label:before, &.qld__input--error:focus + label:before {
			@include QLD-outline('dark');
			box-shadow: none;
		}

		// disabled
		&:disabled {
			+ label:before {
				background-color: transparent;
			}

			+ label {
				color: var(--QLD-color-dark__text--lighter);
				cursor: not-allowed;
			}

			&:checked + label:after {
				opacity: 0.5;

				@include QLD-getControlShape( 'checkbox', 'foreground', var(--QLD-color-light__background) );
			}
		}

		&.qld__input--valid{
			+ label:before {
				border-color: var(--QLD-color-dark__text);
			}
		}

		&.qld__input--error{
			+ label:before {
				border-color: var(--QLD-color-dark__text);
			}
		}
	}
}

input[type='radio'],
.sq-form-field[type='radio'],
.sq-form-question-option-list input{
	@extend .sr-only;

	+ label {
		font-weight: 400;
		cursor: pointer;
		position: relative;
		@include QLD-space(line-height, 2unit);
		@include QLD-space(padding-left, 2.5unit);

		&:before,
		&:after {
			width: 30px;
			height: 30px;
			visibility: visible;
			content: ' ';
			display: block;
			position: absolute;
			box-sizing: border-box;
			background-repeat: no-repeat;
			z-index: 100;
			@include QLD-space(left, 0unit);
			border: $QLD-border-width-default solid transparent;
			border-radius: 50%;
			top: 0;

			.qld__control-input--small & {
				@include QLD-space( width, 1.25unit );
				@include QLD-space( height, 1.25unit );
			}
		}

		&:before {
			background-color: transparent;
			border-color: var(--QLD-color-light__border--alt);
			background-image: none !important;
		}

		&:after {
			z-index: 101;
		}
	}

	.qld__control-input--small &{
		+ label {
			line-height: 20px;
			@include QLD-space( padding-left, 1.5unit );
		}

	}

	// hover
	&:hover {
		+ label:before {
			background-color: var(--QLD-color-neutral--lightest);
		}
	}

	// normal checked
	&:checked {
		+ label:after {
			@include QLD-getControlShape( 'radio', 'foreground', var(--QLD-color-light__text) );
		}
	}

	// Focus
	&:focus + label:before, &.qld__input--error:focus + label:before, &.qld__input--valid:focus + label:before {
		@include QLD-outline();
		box-shadow: none;
		outline-offset: 2px;
	}

	// disabled
	&:disabled {

		+ label:before {
			opacity: 0.3;
			background-color: rgba(0, 0, 0, 0.2);
		}

		+ label {
			color: var(--QLD-color-light__text--lighter);
			cursor: not-allowed;
		}

		&:checked + label:after {
			opacity: 0.5; //amir
			@include QLD-getControlShape( 'radio', 'foreground', #636363 );
		}

	}

	&.qld__input--valid{
		+ label:before {
			@include QLD-space( box-shadow, 0 0 0 0.188unit var(--QLD-color-status__success) );
		}
	}

	&.qld__input--error{
		+ label:before {
			@include QLD-space( box-shadow, 0 0 0 0.188unit var(--QLD-color-status__error) );
		}
	}

	.qld__body--dark &,
	.qld__body--dark-alt & {

		+ label:before {
			background-color: transparent;
			border-color: var(--QLD-color-dark__heading);
			background-image: none !important;
		}

		// hover
		&:hover {
			+ label:before {
				background-color: var(--QLD-color-dark__background--shade);
			}
		}

		// normal checked
		&:checked {
			+ label:after {
				@include QLD-getControlShape( 'radio', 'foreground', var(--QLD-color-light__background) );
			}
		}

		// Focus
		&:focus + label:before {
			@include QLD-outline('dark');
			box-shadow: none;
		}


		// disabled
		&:disabled {


			&:checked + label:after {
				@include QLD-getControlShape( 'radio', 'foreground', var(--QLD-color-light__text--lighter) );

			}

			+ label:before {
				opacity: 0.3;
				background-color: rgba(0, 0, 0, 0.2);
			}

			+ label {
				color: var(--QLD-color-dark__text--lighter);
				cursor: not-allowed;
			}

			&:checked + label:after {
				opacity: 0.5; //amir
				@include QLD-getControlShape( 'radio', 'foreground', var(--QLD-color-light__background) );
			}
		}
	}
}

// Print styles
@media print {
	.qld__control-input__text {
		color: var(--QLD-color-dark__background) !important;

		&:before,
		&:after {
			display: none !important;
		}
	}
}
