.qld__video__player--wrapper.qld__body {
    .qld__video__player--caption,
    .qld__accordion__title,
    .qld__video__player__transcript-link,
    .qld__accordion__body-wrapper {
        background-color: $QLD-color-neutral--lightest;
        border-top: var(--QLD-border-width-thin) solid $QLD-color-neutral--lighter;
    }
    .qld__video__player__transcript {
        &-link,
        .qld__accordion__title {
            display: flex;
            text-decoration: none;

            .qld__icon {
                position: static;
                color: var(--QLD-color-light__action--secondary);
            }

            span {
                text-decoration: underline;
            }

            &:hover {
                span {
                    text-decoration-thickness: var(--QLD-underline__thickness-thick);
                }
            }
        }
    }

    .qld__video__player {
        &--summary {
            border: var(--QLD-border-width-thin) solid $QLD-color-neutral--lighter;
            border-top: none;
            border-radius: 0 0 $QLD-border-radius-xs $QLD-border-radius-xs;
        }
        &--embed {
            border-radius: $QLD-border-radius-xs;
            overflow: hidden;
        }
    }

    &--dark-alt {
        .qld__video__player--caption,
        .qld__accordion__title,
        .qld__video__player__transcript-link,
        .qld__accordion__body-wrapper {
            color: $QLD-color-neutral--white;
            background-color: var(--QLD-color-dark__background--alt-shade);
            border-top: var(--QLD-border-width-thin) solid var(--QLD-color-dark__border--alt);
        }
        .qld__video__player {
            &--summary {
                border: var(--QLD-border-width-thin) solid var(--QLD-color-dark__border--alt);
                border-top: none;
            }
        }
    }
    &--dark {
        .qld__video__player--caption,
        .qld__accordion__title,
        .qld__video__player__transcript-link,
        .qld__accordion__body-wrapper {
            color: $QLD-color-neutral--white;
            background-color: var(--QLD-color-dark__background--shade);
            border-top: var(--QLD-border-width-thin) solid var(--QLD-color-dark__border);
        }
        .qld__video__player {
            &--summary {
                border: var(--QLD-border-width-thin) solid var(--QLD-color-dark__border);
                border-top: none;
            }
        }
    }

    &--alt {
        .qld__video__player--caption,
        .qld__accordion__title,
        .qld__video__player__transcript-link,
        .qld__accordion__body-wrapper {
            background-color: var(--QLD-color-light__background--alt-shade);
            border-top: var(--QLD-border-width-thin) solid var(--QLD-color-light__border--alt);
        }
        .qld__video__player {
            &--summary {
                border: var(--QLD-border-width-thin) solid var(--QLD-color-light__border--alt);
                border-top: none;
            }
        }
    }
    &--light {
        .qld__video__player--caption,
        .qld__accordion__title,
        .qld__video__player__transcript-link,
        .qld__accordion__body-wrapper {
            background-color: var(--QLD-color-light__background--shade);
            border-top: var(--QLD-border-width-thin) solid var(--QLD-color-light__border);
        }
        .qld__video__player {
            &--summary {
                border: var(--QLD-border-width-thin) solid var(--QLD-color-light__border);
                border-top: none;
            }
        }
    }

    &--dark-alt,
    &--dark {
        .qld__video__player--summary {
            .qld__video__player__transcript {
                .qld__accordion__title {
                    color: var(--QLD-color-dark__link);

                    &::after {
                        background-color: var(--QLD-color-dark__action--secondary);
                    }
                }

                .qld__icon {
                    color: var(--QLD-color-dark__action--secondary);
                }
            }
        }
    }
}

.qld__video__player {
    &--wrapper {
        .qld__accordion__title:focus {
            outline-offset: -3px;
        }
    }

    &--align {
        align-items: center;
    }
    &--embed--container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
    }
    &--iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &--caption {
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
        gap: 0.5rem;
        padding: pxToRem(12) pxToRem(16);
        font-size: pxToRem(14);
        border-radius: 0 0 $QLD-border-radius-xs $QLD-border-radius-xs;
        @include QLD-media(lg) {
            grid-template-columns: 1fr auto;
        }
    }

    &--duration {
        display: flex;
        align-items: center;
        gap: pxToRem(4);

        .qld__icon {
            color: var(--QLD-color-light__text);
        }
    }

    &__transcript {
        .qld__accordion {
            border: none;
            .qld__accordion__body-wrapper {
                max-height: pxToRem(300);
                overflow-y: auto;
                background-color: transparent;
            }
        }
        .qld__accordion__title {
            font-size: pxToRem(16);
            transition: transform 0.25s ease-in;
            border-bottom-left-radius: $QLD-border-radius-xs;
            border-bottom-right-radius: $QLD-border-radius-xs;
            .qld__icon {
                font-size: pxToRem(20);
                margin-right: pxToRem(8);
            }
            &:hover {
                background-color: transparent;
            }
        }
        &-link {
            padding: pxToRem(16) pxToRem(12);
            border-bottom-left-radius: $QLD-border-radius-xs;
            border-bottom-right-radius: $QLD-border-radius-xs;

            .qld__icon {
                margin-right: pxToRem(8);
            }
        }
    }
}

.qld__video {
    &__copy--centered,
    &__copy--centered p {
        margin-left: auto;
        margin-right: auto;
    }
    &__centered {
        margin-left: auto;
        margin-right: auto;
    }
}
