//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Multi column
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.text-columns {
    h2, h3 {
        &:first-child {
            @include QLD-space(margin-top, 3unit);
        }
    }
}

/* For text-element spacing */
* + .qld__margin-t-text-element {
    margin-top: 24px !important;
}

* + .qld__row-gap-text-element {
    row-gap: 24px !important;
}

/* For paragraph spacing */
* + .qld__margin-t-p {
    margin-top: 16px !important;
}

* + .qld__row-gap-p {
    row-gap: 16px !important;
}

/* For component spacing */
* + .qld__margin-t-component {
    margin-top: 32px !important;
}

* + .qld__row-gap-component {
    row-gap: 32px !important;
}


  
  
