//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Multi column
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.text-columns {
    h2, h3 {
        &:first-child {
            @include QLD-space(margin-top, 3unit);
        }
    }
}

* + .qld__row-gap-text-element {
    row-gap: 24px !important;
}

* + .qld__row-gap-p {
    row-gap: 16px !important;
}

* + .qld__row-gap-component {
    row-gap: 32px !important;
}

