/* storybook specific styling */

#storybook-docs {
    /* Reset the styling of the radio buttons */
    input[type="radio"] {
        border: initial;
        clip: auto;
        height: auto;
        overflow: visible;
        padding: initial;
        position: static;
        width: auto;
    }
}
