/* Storybook specific styling */

#storybook-docs {
    /* Reset the styling of the radio buttons */
    input[type="radio"] {
        border: initial;
        clip: auto;
        height: auto;
        overflow: visible;
        padding: initial;
        position: static;
        width: auto;
    }
}

.figma-link {
    > p {
        color: #09549f; /* $QLD-color-light__action--primary */
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: #003e7d; /* $QLD-color-light__action--primary-hover */
        }
    }
}
