//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Search Box
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Search form
.qld__search-form--wrapper {
    position: relative;

    .qld__search-form__inner {
        input.qld__text-input,
        .qld__search-form__btn button {
            height: pxToRem(52);

            &.qld__btn.qld__btn--search:focus {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        // Search icon
        @include QLD-media("lg") {
            // Search icon overlay on search
            .qld__search-form__inner-icon {
                position: absolute;
                left: 1rem;
                z-index: 1;
                color: $QLD-color-light__text--lighter;
            }

            // Dark theme styling on parent components
            .qld__header__main--dark &,
            .qld__header__main--dark-alt &,
            .qld__banner--dark &,
            .qld__banner--dark-alt & {
                > .qld__search-form__inner-icon {
                    color: $QLD-color-neutral--white;
                }

                &:has(input.qld__text-input:is(:active, :focus)) .qld__search-form__inner-icon {
                    color: $QLD-color-light__text--lighter;
                }
            }

            // Push the input cursor to the right when search icon is present
            input.qld__text-input {
                padding-left: 3rem;
            }
        }

        // Search icon - hide icon on small screens
        @include QLD-media("lg", "down") {
            .qld__search-form__inner-icon {
                display: none;
            }
        }
    }

    .qld__search-form {
        font-size: 1rem;
        margin-top: 0;

        &__label {
            @include QLD-sronly();
        }

        &__inner {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .qld__text-input {
            border-bottom-right-radius: 0;
            border-right: 0;
            border-top-right-radius: 0;
            display: table-cell;
            max-width: 100%;
            position: relative;
            vertical-align: top;
            width: 100%;
            line-height: 24px;
            font-size: 1rem;

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }
        }

        .qld__btn {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin: 0;
            width: 100%;
            line-height: 24px;
            font-size: 1rem;
        }
    }
}
