//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Global Alert
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__global-alert_include {
    max-height: 0;
    transition: max-height 1s ease-in;
    overflow: hidden;
}

.qld__global-alert {
    font-size: #{map-get($QLD-fontsize-map, xs)}px;

    .container-fluid {
        padding-left: #{map-get($QLD-space-map, 4)}px;
        padding-right: #{map-get($QLD-space-map, 4)}px;

        @include QLD-media(md) {
            padding-left: #{map-get($QLD-space-map, 7)}px;
            padding-right: #{map-get($QLD-space-map, 7)}px;
        }

        @include QLD-media(lg) {
            padding-left: #{map-get($QLD-space-map, 7)}px;
            padding-right: #{map-get($QLD-space-map, 7)}px;
        }
    }

    &.qld__global-alert--critical {
        background-color: $QLD-color-status__error;
        color: $QLD-color-neutral--white;
        & + & {
            border-top: 1px solid $QLD-color-status__error--darker;
        }
        a {
            text-decoration-line: solid;
            text-decoration-thickness: var(--QLD-underline__thickness-thin);
            text-underline-offset: var(--QLD-underline__offset);
            text-decoration-skip-ink: auto;

            color: $QLD-color-neutral--white;
            text-decoration-color: $QLD-color-neutral--white;
            span {
                color: $QLD-color-neutral--white;
                text-decoration-color: $QLD-color-neutral--white;
                &:hover,
                &:visited {
                    color: $QLD-color-neutral--white;
                    text-decoration-color: $QLD-color-neutral--white;
                }
            }

            &:hover,
            &:visited {
                text-decoration-color: $QLD-color-neutral--white;
                text-decoration-thickness: var(--QLD-underline__thickness-thick);
            }
        }

        .qld__icon,
        .qld__icon:hover {
            color: $QLD-color-neutral--white;

            @media (prefers-contrast: more) {
                color: revert;
            }
        }
    }

    &.qld__global-alert--default {
        background-color: $QLD-color-status__caution;
        color: $QLD-color-neutral--darkest;
        & + & {
            border-top: 1px solid $QLD-color-status__caution--darker;
        }
        a {
            text-decoration-line: solid;
            text-decoration-thickness: var(--QLD-underline__thickness-thin);
            text-underline-offset: var(--QLD-underline__offset);
            text-decoration-skip-ink: auto;

            color: $QLD-color-neutral--darkest;
            text-decoration-color: $QLD-color-neutral--darkest;
            span {
                color: $QLD-color-neutral--darkest;
                text-decoration-color: $QLD-color-neutral--darkest;
                &:hover,
                &:visited {
                    color: $QLD-color-neutral--darkest;
                    text-decoration-color: $QLD-color-neutral--darkest;
                }
            }
            &:hover,
            &:visited {
                text-decoration-color: $QLD-color-neutral--darkest;
                text-decoration-thickness: var(--QLD-underline__thickness-thick);
            }
        }

        .qld__icon,
        .qld__icon:hover {
            color: $QLD-color-neutral--darkest;

            @media (prefers-contrast: more) {
                color: revert;
            }
        }
    }

    &.qld__global-alert--general {
        background-color: $QLD-color-status__info--lighter;
        color: $QLD-color-neutral--darkest;

        & + & {
            border-top: 1px solid $QLD-color-status__info--darker;
        }

        a {
            text-decoration-line: solid;
            text-decoration-thickness: var(--QLD-underline__thickness-thin);
            text-underline-offset: var(--QLD-underline__offset);
            text-decoration-skip-ink: auto;

            color: $QLD-color-neutral--darkest;
            text-decoration-color: $QLD-color-neutral--darkest;
            span {
                color: $QLD-color-neutral--darkest;
                text-decoration-color: $QLD-color-neutral--darkest;
                &:hover,
                &:visited {
                    color: $QLD-color-neutral--darkest;
                    text-decoration-color: $QLD-color-neutral--darkest;
                }
            }

            &:hover,
            &:visited {
                text-decoration-color: $QLD-color-neutral--darkest;
                text-decoration-thickness: var(--QLD-underline__thickness-thick);
            }
        }

        .qld__icon,
        .qld__icon:hover {
            color: $QLD-color-neutral--darkest;

            @media (prefers-contrast: more) {
                color: revert;
            }
        }
    }

    // Situation where vertical navigation is enabled
    &.qld__global-alert-with-vertical-nav {
        div.container-fluid {
            max-width: 100%;
        }
    }

    .qld__global-alert__icon {
        line-height: 1;
        margin-top: 2px;
    }

    .qld__global-alert__main {
        display: flex;
        margin: 0.75rem 0 0.75rem 0;

        @include QLD-media(sm) {
            margin: 1rem 0 1rem 0;
        }

        @include QLD-media(md) {
            align-items: center;
        }
    }

    .qld__global-alert__message {
        strong {
            font-weight: $QLD-font-weight-semibold;
        }
    }

    .qld__global-alert__content {
        display: flex;
        flex-direction: column;
        padding: 0 16px 0 16px;

        @include QLD-media(md) {
            flex-direction: row;
            padding: 0 48px 0 16px;
        }
    }

    .qld__global-alert__action {
        flex-shrink: 0;
        font-weight: $QLD-font-weight-semibold;
        margin-top: 0.75rem;
        &:first-child {
            margin: 0;
        }

        a {
            display: flex;
            align-items: center;
            &:hover {
                svg {
                    transform: translateX(4px);
                }
            }
            &:focus {
                outline: 3px solid $QLD-color-dark__background--alt-shade;
                outline-offset: 2px;
                border-radius: 4px;
            }
        }

        svg {
            display: inline-block;
            flex-shrink: 0;
            margin-left: 8px;
            transition: all 0.3s ease;
        }

        @include QLD-media(md) {
            margin-top: 0;
            margin-left: 2rem;
        }
    }

    .qld__global-alert__close {
        margin-left: auto;
        position: relative;
        line-height: 1;
        display: flex;
        text-align: center;
        justify-content: center;

        button {
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            height: 32px;
            width: 32px;
            padding: 0;
            border-radius: 20px;
            border: 0;
            position: relative;
            transition: all 0.3s ease;

            svg {
                margin: 50%;
                padding: 0;
                transform: translate(-50%, -50%);
            }

            &:hover {
                transform: scale(1.3);
            }
            &:focus {
                outline: 3px solid $QLD-color-dark__background--alt-shade;
                outline-offset: 2px;
            }

            @include QLD-media(lg) {
                right: 0;
            }
        }
    }
}

@media print {
    .qld__global_alert_include {
        display: none !important;
    }
}
