<section
  id="{{#if component.data.metadata.id_field.value}}{{{ component.data.metadata.id_field.value }}}{{else}}abstract-{{{ component.data.assetid }}}{{/if}}"
  class="qld__body qld__abstract--wrapper"
>
  <div class="container-fluid">
    <div class="qld__abstract">
      {{{ component.data.metadata.content.value }}}
    </div>
  </div>
</section>
