
<section class="qld__body qld__abstract--wrapper" id="{{#if component.data.metadata.id_field.value}}{{{component.data.metadata.id_field.value}}}{{else}}abstract-{{{component.data.assetid}}}{{/if}}">
    <div class="container-fluid">
        <div class="qld__abstract">
            {{{component.data.metadata.content.value}}}
        </div>
    </div>
</section>

