//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Tags
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.qld__tag {
    display: inline-block;
    @include QLD-fontgrid(xs);
    line-height: 20px;
    @include QLD-space(padding, 0 0.5unit);
    @include QLD-space(font-size, 0.875unit);
    @include QLD-space(line-height, 1.5unit);
    color: var(--QLD-color-light__text--lighter);
    border: 1px solid $QLD-color-neutral--lighter;
    border-radius: $QLD-border-radius-md;
    @include QLD-space(margin, 0);
    @include QLD-focus("light", false);
    text-align: center;
    text-decoration: none;
    &-list--wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 1.25rem;
        @include QLD-media(md) {
            flex-direction: row;
            align-items: center;
        }
        @include QLD-media(lg) {
            padding-top: 1.5rem;
        }
    }
    &-list--title {
        font-weight: $QLD-font-weight-semibold;
        display: block;
        white-space: nowrap;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        @include QLD-media(md) {
            padding-top: 0.25rem;
            padding-bottom: 0rem;
            -ms-flex-item-align: center;
            align-self: center;
        }
    }

    .qld__card .qld__card__footer & {
        color: var(--QLD-color-light__text--lighter);
        border-color: $QLD-color-neutral--lighter;
    }

    .qld__body--light &,
    .qld__card .qld__card__footer & {
        border-color: var(--QLD-color-light__border);
        color: var(--QLD-color-light__text--lighter);
    }

    .qld__body--alt &,
    .qld__card .qld__card__footer & {
        border-color: var(--QLD-color-light__border--alt);
        color: var(--QLD-color-light__text--lighter);
    }

    .qld__body--dark &,
    .qld__card--dark .qld__card__footer & {
        border-color: var(--QLD-color-dark__border--alt);
        color: var(--QLD-color-dark__text--lighter);
        @include QLD-focus("dark", false);
    }

    .qld__body--dark-alt &,
    .qld__card--dark-alt .qld__card__footer & {
        border-color: var(--QLD-color-dark__border);
        color: var(--QLD-color-dark__text--lighter);
        @include QLD-focus("dark", false);
    }

    &.qld__tag--large {
        @include QLD-fontgrid(sm);
        @include QLD-space(font-size, 1unit);
        @include QLD-space(padding, 0.5unit 1unit);
        border-radius: $QLD-border-radius-lg;
    }
}

a.qld__tag,
.qld__tag.qld__tag--link {
    color: var(--QLD-color-light__link);
    border-color: var(--QLD-color-light__link);
    text-decoration: none;
    text-underline-offset: auto;
    text-decoration-color: var(--QLD-color-light__link);
    .qld__card .qld__card__footer & {
        color: var(--QLD-color-light__link);
        border-color: var(--QLD-color-light__link);

        &:hover {
            background-color: var(--QLD-color-light__action--primary-hover);
            color: var(--QLD-color-light__link--on-action);
            border-color: var(--QLD-color-light__action--primary-hover);
        }
    }

    &:visited {
        color: var(--QLD-color-light__link);
    }
    &:hover:visited {
        color: var(--QLD-color-light__link--on-action);
        text-decoration-color: var(--QLD-color-light__link--on-action);
    }

    &:hover {
        background-color: var(--QLD-color-light__action--primary-hover);
        color: var(--QLD-color-light__link--on-action);
        border-color: var(--QLD-color-light__action--primary-hover);
        text-decoration: underline;
        text-decoration-color: var(--QLD-color-light__link--on-action);
    }

    .qld__body--alt &,
    .qld__card--alt .qld__card__footer & {
        color: var(--QLD-color-light__link);
        border-color: var(--QLD-color-light__link);

        &:hover {
            background-color: var(--QLD-color-light__action--primary-hover);
            color: var(--QLD-color-light__link--on-action);
            border-color: var(--QLD-color-light__action--primary-hover);
        }

        &:visited {
            color: var(--QLD-color-light__link);
        }
        &:hover:visited {
            color: var(--QLD-color-light__link--on-action);
            text-decoration-color: var(--QLD-color-light__link--on-action);
        }
    }

    .qld__body--dark &,
    .qld__card--dark .qld__card__footer &,
    .qld__body--dark-alt &,
    .qld__card--dark-alt .qld__card__footer & {
        border-color: var(--QLD-color-dark__link);
        color: var(--QLD-color-dark__link);
        text-underline-offset: auto;
        text-decoration-color: var(--QLD-color-dark__link);
        text-decoration: none;

        &:hover {
            background-color: var(--QLD-color-dark__action--primary-hover);
            color: var(--QLD-color-dark__link--on-action);
            border-color: var(--QLD-color-dark__action--primary-hover);
            text-decoration: underline;
            text-decoration-color: var(--QLD-color-light__link);
        }

        &:visited {
            color: var(--QLD-color-dark__link);
        }

        &:hover:visited {
            color: var(--QLD-color-dark__link--on-action);
            text-decoration-color: var(--QLD-color-dark__link--on-action);
        }
    }
}

.qld__tag.qld__tag--info,
.qld__card__footer .qld__tag.qld__tag--info {
    color: var(--QLD-color-light__text--lighter);
    border-color: $QLD-color-neutral--lightest;
    background-color: $QLD-color-neutral--lightest;

    .qld__body--light &,
    .qld__card--light .qld__card__footer & {
        color: var(--QLD-color-light__text--lighter);
        border-color: var(--QLD-color-light__background--shade);
        background-color: var(--QLD-color-light__background--shade);
    }

    .qld__body--alt &,
    .qld__card--alt .qld__card__footer & {
        color: var(--QLD-color-light__text--lighter);
        border-color: var(--QLD-color-light__background--alt-shade);
        background-color: var(--QLD-color-light__background--alt-shade);
    }

    .qld__body--dark &,
    .qld__card--dark .qld__card__footer & {
        color: var(--QLD-color-dark__text--lighter);
        border-color: var(--QLD-color-dark__background--shade);
        background-color: var(--QLD-color-dark__background--shade);
    }

    .qld__body--dark-alt &,
    .qld__card--dark-alt .qld__card__footer & {
        color: var(--QLD-color-dark__text--lighter);
        border-color: var(--QLD-color-dark__background--alt-shade);
        background-color: var(--QLD-color-dark__background--alt-shade);
    }
}

.qld__tag.qld__tag--filter,
.qld__card__footer .qld__tag.qld__tag--filter {
    color: var(--QLD-color-light__text);
    border-color: $QLD-color-neutral--lighter;
    background-color: transparent;
    @include QLD-fontgrid(sm);
    @include QLD-space(font-size, 1unit);
    @include QLD-space(padding, 0 0 0 1unit);
    border-radius: $QLD-border-radius-lg;
    text-decoration: none !important; // Ensure no decoration at all for this variant
    @include QLD-underline("light", "noUnderline", "default");
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        outline: none;
        color: var(--QLD-color-light__text);
        background-color: transparent;
        border-color: $QLD-color-neutral--lighter;
    }

    .qld__tag--filter-close {
        @include QLD-space(margin-left, 0.1unit);

        background-color: transparent;
        border: none;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 50%;
        cursor: pointer;

        &:hover,
        &:focus {
            > svg.qld__icon {
                background-color: var(--QLD-color-light__action--secondary-hover);
                border-color: var(--QLD-color-light__action--secondary-hover);
                color: $QLD-color-neutral--white;
            }
        }

        > svg.qld__icon {
            padding: 3px;
            border: 1px solid var(--QLD-color-light__action--secondary);
            border-radius: 100%;
            color: var(--QLD-color-light__action--secondary);
        }

        @include QLD-focus("light", false, -2px);
    }

    .qld__body--light &,
    .qld__card--light .qld__card__footer & {
        color: var(--QLD-color-light__text);
        border-color: var(--QLD-color-light__border);

        &:hover {
            color: var(--QLD-color-light__text);
            background-color: transparent;
            border-color: var(--QLD-color-light__border);
        }
    }

    .qld__body--alt &,
    .qld__card--alt .qld__card__footer & {
        color: var(--QLD-color-light__text);
        border-color: var(--QLD-color-light__border--alt);

        &:hover {
            color: var(--QLD-color-light__text);
            background-color: transparent;
            border-color: var(--QLD-color-light__border--alt);
        }
    }

    .qld__body--dark &,
    .qld__card--dark .qld__card__footer & {
        color: var(--QLD-color-dark__text);
        border-color: var(--QLD-color-dark__border--alt);
        @include QLD-underline("dark", "noUnderline", "default");

        &:hover {
            color: var(--QLD-color-dark__text);
            background-color: transparent;
            border-color: var(--QLD-color-dark__border--alt);
            text-decoration: none;
        }

        .qld__tag--filter-close {
            > svg.qld__icon {
                border-color: var(--QLD-color-dark__action--secondary);
                color: var(--QLD-color-dark__action--secondary);
            }

            &:hover,
            &:focus {
                > svg.qld__icon {
                    background-color: var(--QLD-color-dark__action--secondary-hover);
                    border-color: var(--QLD-color-dark__action--secondary-hover);
                    color: var(--QLD-color-dark__background);
                }
            }

            &:focus {
                outline-color: var(--QLD-color-dark__focus);
            }
        }
    }

    .qld__body--dark-alt &,
    .qld__card--dark-alt .qld__card__footer & {
        color: var(--QLD-color-dark__text);
        border-color: var(--QLD-color-dark__border);
        @include QLD-underline("dark", "noUnderline", "default");

        &:hover {
            color: var(--QLD-color-dark__text);
            background-color: transparent;
            border-color: var(--QLD-color-dark__border);
            text-decoration: none;
        }

        .qld__tag--filter-close {
            > svg.qld__icon {
                border-color: var(--QLD-color-dark__action--secondary);
                color: var(--QLD-color-dark__action--secondary);
            }

            &:hover,
            &:focus {
                > svg.qld__icon {
                    background-color: var(--QLD-color-dark__action--secondary-hover);
                    border-color: var(--QLD-color-dark__action--secondary-hover);
                    color: var(--QLD-color-dark__background--alt);
                }
            }

            &:focus {
                outline-color: var(--QLD-color-dark__focus);
            }
        }
    }
}

.qld__tag-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    @include QLD-space(margin, 0.5unit 0);
    &--space-between {
        justify-content: space-between;
    }

    li {
        @include QLD-space(margin, 0.5unit 0.5unit 0 0);
        display: inline-block;

        > .qld__tag:focus {
            outline-offset: -1px;
        }
    }
}

.qld__body,
.qld__card,
.qld__banner,
.qld__footer {
    a.qld__tag:focus,
    .qld__tag:focus[tabindex="0"] {
        border-radius: $QLD-border-radius-md;

        &.qld__tag--large {
            border-radius: $QLD-border-radius-lg;
        }
    }
}
