//This is a refractored version of the QH design system

@import "imports/functions.scss";
@import "imports/mixins.scss";
@import "imports/variables.scss";
@import "imports/placeholders.scss";

// Box size all the things
// https://squizmap.squiz.net/imp-bp/6400
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// == Start box-sizing reset ==
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    @include sq-border-box;
    image-rendering: -webkit-optimize-contrast;
}

// == End box-sizing reset ==

/*
--------------------
Utilities
--------------------
*/

@import "imports/utilities.scss";

/*
--------------------
General
--------------------
*/

// Taken from HTML 5 BP
::-moz-selection {
    background: var(--QLD-color-dark-text__muted);
    text-shadow: none;
}

::selection {
    color: var(--QLD-color-light-text);
    background: var(--QLD-color-dark-text__muted);
    text-shadow: none;
}

html,
body {
    height: 100%;
}

body {
    overflow-y: scroll;
    font-size: $base-font-scale + em;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $QLD-font;
    color: var(--QLD-color-light-text);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

img {
    max-width: 100%;
}

// Reset fonts for relevant elements (taken from bootstrap)
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.qld__body fieldset, fieldset {
    padding:0;
}


// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport {
    width: device-width;
}

// Print style that shouldn't belong to print.scss to avoid the css beautifier from killing
// the @ syntax inside media queries
@page {
    margin: 0.5cm;
}


/*
--------------------
Components
--------------------
*/
@import "../components/_global/css/*/**.scss";
@import "../components/_global/css/*/*/**.scss";
@import "../components/*/css/**.scss";