//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Widgets
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__widgets {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 86rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    position: relative;
    margin-bottom: 64px;
    align-items: flex-end;
    right: 0;

    @include QLD-media (md) {
        padding-right: 2rem;
    }


    .qld__btn--floating {
        box-shadow: none;
        display: inline-block;
    }
}

.qld__widgets + .qld__footer {
    // @include QLD-space(padding-bottom, 4unit);

    @include QLD-media(xl) {
        @include QLD-space(padding-bottom, 4unit);
    }
}

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Back to top
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

body a.qld__btn.qld__btn--floating.qld__btn--back-to-top {
    @include QLD-space(margin-top, 0.5unit);
    background-color: var(--QLD-color-light__background--shade);
    border-color: var(--QLD-color-neutral--lightest);
    color: var(--QLD-color-light__link);
    padding: 0.5rem 1rem;

    &:after {
        @include QLD-space( width, 1unit );
        @include QLD-space( height, 1unit );
        @include QLD-space( margin, 0 0.25unit );
        content: '↑';
        color: var(--QLD-color-light__action--secondary);
        display: inline-block;
        width: auto;
        height: auto;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: var(--QLD-color-light__background--alt-shade);
        border-color:  var(--QLD-color-light__background--alt-shade);
        color: var(--QLD-color-light__link);
        text-decoration-color: var(--QLD-color-light__link);
        &::after{
            content: '↑';
            color: var(--QLD-color-light__action--secondary-hover);
        }
    }
}

@media print {
    .qld__widgets {
        display: none !important;
    }
}
