//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Widgets
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__widgets {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 86rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    position: relative;
    margin-bottom: 64px;
    align-items: flex-end;
    right: 0;

    @include QLD-media(md) {
        padding-right: 2rem;
    }

    .qld__btn--floating {
        box-shadow: none;
        display: inline-block;
    }
}

.qld__widgets + .qld__footer {
    // @include QLD-space(padding-bottom, 4unit);

    @include QLD-media(xl) {
        @include QLD-space(padding-bottom, 4unit);
    }
}

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Back to top
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

@mixin BTT-arrow-colours($interact-colour, $visited-colour) {
    &:hover,
    &:focus,
    &:active {
        &::after,
        &::before {
            border-color: $interact-colour;
        }
    }

    &:visited {
        &::after,
        &::before {
            border-color: $visited-colour;
        }
    }
}

.qld__body {
    .qld__widgets__back_to_top > .qld__direction-link {
        @include BTT-arrow-colours(var(--QLD-color-light__action--secondary-hover), var(--QLD-color-light__link--visited));
    }
}

.qld__body.qld__body--dark,
.qld__body.qld__body--dark-alt {
    .qld__widgets__back_to_top > .qld__direction-link {
        @include BTT-arrow-colours(var(--QLD-color-dark__action--secondary-hover), var(--QLD-color-dark__link--visited));
    }
}

body a.qld__btn.qld__btn--floating.qld__btn--back-to-top {
    @include QLD-space(margin-top, 0.5unit);
    background-color: $QLD-color-neutral--lightest;
    border-color: $QLD-color-neutral--lightest;
    color: var(--QLD-color-light__link);
    padding: 0.5rem 1rem;
    line-height: 0; // Aligns the span with the svg

    span,
    svg {
        vertical-align: middle;
    }

    svg {
        color: var(--QLD-color-light__action--secondary);
    }

    &:hover,
    &:focus,
    &:active {
        background-color: var(--QLD-color-light__background--alt-shade);
        border-color: var(--QLD-color-light__background--alt-shade);
        color: var(--QLD-color-light__link);
        text-decoration: none;

        svg {
            color: var(--QLD-color-light__action--secondary-hover);
        }
    }

    &:hover span {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--QLD-color-light__link);
    }

    @media (prefers-contrast: more) {
        svg {
            color: revert;
        }

        &:hover,
        &:focus,
        &:active {
            svg {
                color: revert;
            }
        }
    }
}

@media print {
    .qld__widgets {
        display: none !important;
    }
}
